.faq-section li {
    list-style-position: inside;
    list-style-type: disc;
    text-indent: -1.3em;
}

.faq-section li {
    margin-left: 60px;
}

.faq-section ol li {
    
    list-style-type: upper-alpha;
    
}


.breadcrumb-section h1{
    color: white;
    font-size: 60px;
}