<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1>Salesforce Marketing Cloud Services</h1>
                <br>
                
                    <p>Our Salesforce team implemented a Salesforce Marketing Cloud services for our Client. 
                        In addition to the customisations.</p>
                
            </div>
        </div>
    <!--    <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div> -->
    </section>
    <!-- ===== Breadcrumb part End ======-->

    <!--====== Project Details Start ======-->
    <section class="project-details section-gap">
        <div class="container">
            <div class="project-content mt-60">
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-2">
                        <div class="content">
                            <h3 class="mb-10">Client</h3>
                            <p class="mb-20">Trupoint Comm Solutions </p>
                            <h3 class="mb-10">Website</h3>
                            <a href="https://trupointcs.com/" target="_blank" class="mb-20">www.trupointcs.com</a>
                            <h3 class="mb-10">Company size</h3>
                            <p class="mb-20">15-20 Employees</p>
                            <h3 class="mb-10">Challenge </h3>
                            <p class="mb-20">
                                Client is a technology consulting agency that managed IT providers use to expand their customer bases, and dedicated technology resource customers count on for strategy and growth. Client offers Business Internet and Phone Solutions, Cloud Service, Cyber Security and Professional Service. The focus was to help 
                                customers get best possible pricing for the technology solutions that meet their needs. Prism Solutions was requested to develop a Reporting and Agreement(Order) Mangement System.
                            </p>
                            
                            <h3 class="mb-10">Project Overview</h3>
                            <p class="mb-10">
                                Salesforce Marketing Cloud <br>
                                Trupoint customers make payments with the option to get internet subscription on monthly/yearly basis. Prism Development Team's foucs was to build a system to fully support 
                                client business operations that includes:
                            </p>
                            <ol class="mb-20">
                                <li>Reporting Management System</li>
                                <li>Order Management System</li>
                                <li>Contract Management System</li>
                                </ol>
                            <h3 class="mb-10">Project Impact </h3>
                            <p class="mb-10">
                                With the help of this new development, client can now:
                            </p>
                            <ol>
                                <li>Process and manage customer orders efficiently</li>
                                <li>Respond to any issue quickly and with our full breadth of knowledge</li>
                                <li>Build custom reporting for future analysis</li>
                                <li>Manage customer contracts (Purchases) with a high standard of integrity</li>
                                <li>Provide the best possible customer experience with unified communications solutions</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Project Details End ======-->

    <!--====== CTA Start ======-->
    <section class="cta-aection">
        <div class="container">
            <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <div class="section-title both-border mb-30">
                                <span class="title-tag">Talk To Our Consultant</span>
                                <h2 class="title">Feel Any Project For Salesforce Consulting?</h2>
                            </div>
                            <a routerLink='/contact-us' class="main-btn main-btn-3">Let's Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CTA Start ======-->

    <!--====== Client Area Start ======-->
    <section class="testimonial-section-two section-gap">
        <div class="container">
            <div class="client-slider section-gap-bottom">
                
                <div class="row align-items-center justify-content-between testimonial-items" id="clientSlider">
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Attic.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Blackbridge.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/CarlMarks.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Orion_wine.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/HealthCareHighway.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>