<app-header2></app-header2>
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->



    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->
    
    
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">Get in Touch</h1>
                <ul>
                    <li>Do you have any queries? We’re happy to help!</li>
                </ul>
            </div>
        </div>
      <!--  <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>-->
    </section>
    <!--====== Breadcrumb part End ======-->

    <!--====== Contact Section start ======-->
    <section class="contact-section contact-page section-gap-top">
        <div class="container">
            <div class="contact-info">
                <div class="row justify-content-center">
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="section-title  mb-40">
                            
                            <h2 class="title mt-50">Follow Us</h2>
                        </div>
                        <div class="socal-logos">
                            <a href="https://www.facebook.com/Prism-Solutions-101172278512825" target="_blank"><i class="fab fa-facebook-f fb-icon"></i></a>
                            <a href="https://www.linkedin.com/company/prism-solutions-salesforce/" target="_blank"><i class="fab fa-linkedin-in tw-ln-ins" ></i></a>
                            <a href="https://twitter.com/PrismSolutions2" target="_blank"><i class="fab fa-twitter tw-ln-ins"></i></a>
                           
                            <a href="https://www.instagram.com/prismsolutions1/" target="_blank"><i class="fab fa-instagram tw-ln-ins"></i></a>
                        </div>
                        <ul>

                            
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-10 order-2 order-lg-1">
                        <div class="contact-info-content">
                            <div class="section-title left-border mb-40">
                                <span class="title-tag">Get In Touch</span>
                                <h2 class="title">We’d love to help you start exceeding your Salesforce goals.</h2>
                            </div>
                            <p>
                                We love hearing our customers and their ideas to translate them into digital 
                                realities. Our team is available to solve all your doubts and offer you a wide 
                                range of services that help you take your business to the next level.
                            </p>

                            <ul>
                                <li class="">
                                    <a href="tel:+0123456789"><i class="far fa-phone"></i>+92 (333) 441 8803</a>
                                </li>
                                <li><i class="far fa-envelope-open"></i><a routerLink='/contact-us'>hello@prismsolutions.io</a></li>
                                <li><i class="far fa-map-marker-alt"></i>131-J1, Johar Town, Lahore, Punjab, Pakistan.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-form grey-bg">
                <div class="row no-gutters justify-content-center mb-30">
                    <div class="col-10">
                        <div class="section-title text-center mb-40">
                            <h2 class="title">Don’t Hesited To Contact Us</h2>
                        </div>

                        <form action="#">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Your Full Name">
                                        <span class="icon"><i class="far fa-user-circle"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="email" placeholder="Your Email Address">
                                        <span class="icon"><i class="far fa-envelope-open"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Your Phone">
                                        <span class="icon"><i class="far fa-phone"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group textarea mb-30">
                                        <textarea placeholder="Write Message"></textarea>
                                        <span class="icon"><i class="far fa-pencil"></i></span>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="button" class="main-btn">Send Message</button>
                                   <!--<div class="navbar-btn nav-push-item" data-animation="fadeInUp" data-delay="1.2s">
                                        <a class="main-btn main-btn-3 mr-3" routerLink='/web-form'> Send Message</a>
                                    </div>--> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid container-1600 ">
            <div class="contact-map">
                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=131%20J1-,%20Block%20J%201%20Phase%202%20Johar%20Town,%20Lahore,%20Pakistan+(Prism%20Solutions)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
            
        </div>
    </section>
    <!--====== Contact Section start ======-->

    <!--====== Client Area Start ======-->
    <section class="testimonial-section-two">
        <div class="container">
            <div class="client-slider section-gap line-top">
                <div class="row align-items-center justify-content-between testimonial-items" id="clientSlider">
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/contact-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-section contact-page section-gap-top">
        <div class="container">
            <div class="contact-form grey-bg">
                <div class="row no-gutters justify-content-center mb-30">
                    <div class="col-10">
                        <div class="section-title text-center mb-40">
                            <h2 class="title">Don’t Hesited To Contact Us</h2>
                        </div>
                        <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    
                            <input type=hidden name="oid" value="00D09000004888d">
                            <input type=hidden name="retURL" value="http://">
                            
                            <!--  ----------------------------------------------------------------------  -->
                            <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                            <!--  these lines if you wish to test in debug mode.                          -->
                            <!--  <input type="hidden" name="debug" value=1>                              -->
                            <!--  <input type="hidden" name="debugEmail"                                  -->
                            <!--  value="anaseer.sfdc@gmail.com">                                         -->
                            <!--  ----------------------------------------------------------------------  -->
                            
                            <label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
                            
                            <label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
                            
                            <label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
                            
                            <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
                            
                            <label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>
                            
                            <label for="url">Website</label><input  id="url" maxlength="80" name="url" size="20" type="text" /><br>
                            
                            <label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>
                            
                            <label for="state">State/Province</label><input  id="state" maxlength="20" name="state" size="20" type="text" /><br>
                            
                            <label for="street">Street</label><textarea name="street"></textarea><br>
                            
                            <label for="zip">Zip</label><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>
                            
                            <label for="country">Country</label><input  id="country" maxlength="40" name="country" size="20" type="text" /><br>
                            
                            <label for="description">Description</label><textarea name="description"></textarea><br>
                            
                            <div class="navbar-btn nav-push-item" data-animation="fadeInUp" data-delay="1.2s">
                                <input type="submit" name="submit">
                            </div>
                            
                        
                        </form>
                    <!--<form action="#">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Your Full Name">
                                        <span class="icon"><i class="far fa-user-circle"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="email" placeholder="Your Email Address">
                                        <span class="icon"><i class="far fa-envelope-open"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Your Phone">
                                        <span class="icon"><i class="far fa-phone"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group textarea mb-30">
                                        <textarea placeholder="Write Message"></textarea>
                                        <span class="icon"><i class="far fa-pencil"></i></span>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="button" class="main-btn">Send Message</button>
                                </div>
                            </div>
                        </form>-->    
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>