
.missionMargin ul {
    list-style-type: disc;
}

.gapTop{
    Padding-top: 0px;
}

..serviceTiles:hover {
    border: 1px solid #ff4a17;
    box-shadow: 5px 5px 5px #ff4a17;
}

.job-lists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

.flexCol {
      display:flex;
  }
