<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">About Us</h1>
                <ul>
                    <li><a routerLink='/'>Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </section>
    <!--====== Breadcrumb part End ======-->

    <!--====== About Section start ======-->
    <section class="about-section about-illustration-img section-gap">
        <div class="container">
            <div class="illustration-img">
                <img src="assets/img/illustration/01.png" alt="Image">
            </div>
            <div class="row no-gutters justify-content-lg-end justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="about-text">
                        <div class="section-title left-border mb-40">
                            <span class="title-tag">About Us</span>
                            <h2 class="title">Professional Business <br> Guidance Agency </h2>
                        </div>
                        <p class="mb-25">
                            Prism Solutions, a certified Corporation, works with organizations to create and implement strategic solutions based on cloud technology.
                             Prism Solutions brings a depth of knowledge in Salesforce: Consultation, Integration, Migration and Document Generation. We are willing to deploy state of the art 
                             solutions for number of industries. Prism Solutions' cutting edge technical solutions combined with nationally recognized IT expertise and experience makes us the right choice for our potential clients. 
                        </p>
                        <p>
                            Prism Solutions can help your organization harness the power of technology to build a better future. At Prism Solutions, 
                            our focus is helping your organization become more efficient, smarter, and lighter through technology. Through our knowledge and expertise, 
                            we will help your organization harness the power of technology to better achieve your mission. 
                        </p>
                        <ul class="about-list">
                            <li> <i class="far fa-check"></i> Business & Consulting Agency</li>
                            <li> <i class="far fa-check"></i> Awards Winning Business Comapny</li>
                        </ul>
                        <a routerLink='/about-us' class="main-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== About Section end ======-->
    <section class="advanced-tab section-gap gapTop">
        <div class="container">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="tab-mission" role="tabpanel">
                    <div class="tab-text-block left-image with-left-circle">
                        <div class="row justify-content-center missionMargin">
                            <div class="col-lg-6 col-md-10">
                                <div class="block-text">
                                    <h2 class="title">Our Vision</h2>
                                    <p>
                                        Our vision is to develop and grow as a major IT service provider to become a leading performer, 
                                        in providing quality Software Development solutions. We have the ability to accelerate and quickly 
                                        share the great work or products of your organization or business. </p><br>

                                    <p>    We have been able to bring together a qualified team of professionals formed by their collective experiences 
                                        in the software consultancy, software development and talent acquisition.
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-10">
                                <div class="block-text">
                                    <h2 class="title">Our Mission</h2>
                                            <div class="accordion faq-loop grey-header" id="faqAccordion">
                                                <div class="">
                                                    <div class="card-header">
                                                        <div class="collapsed" data-toggle="collapse" data-target="#collapseOne">
                                                            <p>Our mission is to enhance the business growth of our customers to deliver market-leading solutions through Salesforce Consultation, 
                                                                Application Development and Dedicated Resource Management. We always strive to deliver optimal solutions with quality and services 
                                                                at reasonable prices.  </p>
                                                                <br>
                                                                <p> 'Prism Solutions’ exists on 3Ps model </p>
                                                                <ul>
                                                                    <li>Project – Provide best software development services using Salesforce platform </li>
                                                                    <li>People – Recruiting, developing and retaining top talent </li>
                                                                    <li>Process – Achieving high levels of customer satisfaction by ensuring quality, cost and apt solutions </li>
                                                                </ul>
                                
                                                            <span class="icons">
                                                                <i class="far fa-plus">Read More</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                
                                                    <div id="collapseOne" class="collapse" data-parent="#faqAccordion">
                                                        <div class="card-body">
                                                            <p>
                                                                Our specialty lies in helping organizations to use their product or business effectively, in a way that supports their overall goals 
                                                                and strategic priorities. 
                                                                </p>
                                                                <ul>
                                                                    <li>We value and expect integrity in all that we do </li>
                                                                    <li>We recognize that the foundation of our growth and success lies in making each and every client project a success </li>
                                                                    <li>We strive for operational and service excellence through a relentless focus </li>
                                                                    <li>We significantly and continually enhance client satisfaction with our services </li>
                                                                </ul>
                                                                <p>As a resource center, we are determined to build a company culture based on superior performance, success through teamwork, respect and 
                                                                    recognition for the individual, diverse and challenging work, and flexible and rewarding career opportunities for our employees. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==== Our Busniess Approach section start======-->
    <section class="job-list-section section-gap grey-bg">
        <div class="container">
            <h2 class="text-center mb-50">Our Business Approach </h2>
            <p class="text-center mb-50">We have various Salesforce technologies to fit the business needs that allow us to deliver high 
                quality solutions to our clients. We believe, your brand is everything that connects with your 
                client. We identify the best use of your brand when creating your product. 
                We empower our clients, offering them direct control over their projects through: </p>
            <div class="job-lists">
                <div class="single-job">
                    <h4 class="title">Requirements Gathering</h4>
                    <p>
                        Requirement Gathering is the process of understanding client’s requirement in a detailed manner. 
                        It involves researching the project particulars and arriving at a conclusion that can comprehensively 
                        chart out immediate and long term objectives of a project before it actually begins.
                    </p>
                    
                </div>
                <div class="single-job">
                    <h4 class="title">Cost Effective Solutions</h4>
                    <p>
                        We offer our clients flexible business model to save on project cost by selecting right business
                         model as per need. We provide cost effective solutions to our customers 
                        by analyzing their business needs and suggesting them the best fit. 
                    </p>
                    
                </div>
                <div class="single-job">
                    <h4 class="title">Timeliness</h4>
                    <p>
                        We deliver solutions which are easy to use, easy to implement and easy to update with timely 
                         which leads to successful outcome of the project finally. 
                    </p>
                    
                </div>
                <div class="single-job">
                    <h4 class="title">Prompt Communication</h4>
                    <p>
                        A very most valuable and important expecting thing that client requires from all service providers 
                        is "Prompt Communication" throughout the project. 
                         assure, your requisition e-mails will be answered thoroughly in a matter of hours.  
                    </p>
                    
                    
                </div>
                <div class="single-job">
                    <h4 class="title">Partners From The Get Go </h4>
                    <p>
                        Great collaborations result in great work. Your participation from start to finish is crucial. We rely on your expertise and feedback throughout the process to 
                        understand your business and your challenges. It’s all powered by partnership. 
                    </p>
                    
                </div>
                <div class="single-job">
                    <h4 class="title">Confidentiality</h4>
                    <div class="accordion faq-loop grey-header" id="faqAccordion">
                        <div class="">
                           <div class="card-header">
                              <div class="collapsed" data-toggle="collapse" data-target="#collapseOne">
                                 <p>Confidentiality to intellectual property protection is a prime concern for every outsourcing client. We take every measure steps to maintain confidentiality of IP (Intellectual Property) of our clients. 
                                 </p>
                                 
                                 <span class="icons">
                                 <i class="far fa-plus">Read More</i>
                                 </span>
                              </div>
                           </div>
                           <div id="collapseOne" class="collapse" data-parent="#faqAccordion">
                              <div class="card-body">
                                 <p>
                                     We work with our clients throughout the period of development to ensure that there is a clear understanding of what is being done. Our expertise and personal involvement assures that we are delivering work that exceeds expectations and has a positive impact for customers business. It would be our endeavor to achieve this with technical, financial, business and moral excellence. 
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                    
                </div>
            </div>
           
        </div>
    </section>
    <!--===== ========-->
    

    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            
                            <h2 class="title">Reach the New Business Heights with Prism Solutions </h2>
                        </div>
                        <p>
                            Prism Solutions has set high standards since its inception in 2019 and continuously looks to raise the bar in how and what we can offer our customers by the way of I.T. services and levels of service. To do this we have and continue to 
                            look for the best people, that's not meaning just on ability, working for System, it means working as part of a team and the strength of the team will always be greater than any individual. It is therefore important when recruiting that we look for 
                            people who possess knowledge, a 'can do' attitude and can fit in to the team. 

                            Prism Solutions has been working with clients in the Real Estate, Healthcare, Education and Ecommerce industry to deliver leading-edge solutions. We can provide enabling technology for innovative business in Services industry to create new applications, processes, products, or business models to improve financial services and products. 

                            We provide comprehensive consulting services, financial services software engineering together with the key technology acceleration solutions to gear up consumer-oriented services in different industry sectors. 
                        </p>
                        <!-- process-loop -->
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/01.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section Start ======-->
    <section class="advanced-tab section-gap">
        <div class="container">
            <!-- Tabs Buttons -->
            <div class="tab-buttons">
                
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tab-mission" role="tabpanel">
                        <div class="tab-text-block">
                            <div class="row align-items-center justify-content-center">
                                
                                <div class="col-lg-12 col-md-10">
                                    <div class="block-text">
                                        <h2 class="title">Salesforce Offerings and Solutions For Your Organizations </h2>
                                        <p>
                                            If you are looking for a Certified Salesforce Development company, then look no further <br>

                                            Prism Solutions brings years of experience in Salesforce offerings and technology solutions for  organizations. 
                                            We focus exclusively on delivering advanced services leveraging Salesforce's leading technology to transform business functionalities. 
                                            As a Salesforce Consulting Partner, Prism Solutions offers a full suite of services from advisory, 
                                            implementation, integration, optimization, and managed support for your Salesforce environment. Our offerings include:  
                                        </p>
                                        <div class="col-lg-12 col-md-10 order-lg-2 order-1 flexCol">
                                            <div class="col-lg-6 col-md-10">
                                                <div class="block-image mt-30">
                                                    <img src="assets/img/tab-block.jpg" alt="Image">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-10 order-lg-2 order-2">
                                                <ul>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Salesforce Implementation, Integration, Consolidations, Expansions
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Optimization for Sales, Service, Analytics, 
                                                    marketing, Community Clouds   
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Salesforce CPQ and Billing  
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Salesforce Field Service  
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Nonprofit Cloud  
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Marketing Cloud  
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Force.com Development Services for Innovative UI/UX, Mobile and Platform Development  
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Salesforce Einstein Analytics Solutions  
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        Salesforce Higher Education Solutions  
         
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section End ======-->
    <!--===== ========-->
    

    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            
                            <h2 class="title mt-170">The Best Solution for your Business  </h2>
                        </div>
                        <p>
                            Here, at Prism Solutions, we value all clients and put our hearts and brains into making their dreams a reality. Working in the closest collaboration 
                            turns out to yield the best fruit. Together, we can come up with a successful idea and put it into practice to achieve mutual benefit. </p> <br>

                        <p>To that end, we follow both current market trends and our clients’ competitors and generate win-win strategies to build a truly excellent product. </p>
                        <!-- process-loop -->
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/01.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section Start ======-->
    <!--====== start working with prism Section Start ======-->
    <section class="service-section grey-bg service-line-shape section-gap">
        <div class="container">
            <!-- Section Title -->
            <div class="section-title text-center both-border mb-50">
                <span class="title-tag">Most Features</span>
                <h2 class="title">Start Working with Prism Solutions </h2><br>
                <p>If you are looking for a Certified Salesforce Development company, then look no further! 
                    Prism Solutions is a top company in this field with many years of experience. </p>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group mb-30">
                            <input type="text" placeholder="Your Full Name">
                            <span class="icon"><i class="far fa-user-circle"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-30">
                            <input type="email" placeholder="Your Email Address">
                            <span class="icon"><i class="far fa-envelope-open"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-30">
                            <input type="text" placeholder="Your Phone">
                            <span class="icon"><i class="far fa-phone"></i></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group textarea mb-30">
                            <textarea placeholder="Write Message"></textarea>
                            <span class="icon"><i class="far fa-pencil"></i></span>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="button" class="main-btn">Send Message</button>
                    </div>
                </div>
            </form>
            <!-- Services Boxes -->
        </div>
    </section>
    <!--====== Start working with Prism Section End ======-->
    
    <!--====== Service Section Start ======
    <section class="service-section grey-bg service-line-shape section-gap">
        <div class="container">
            <!-- Section Title 
            <div class="section-title text-center both-border mb-50">
                <span class="title-tag">Most Features</span>
                <h2 class="title">We Provide Most Exclusive <br> Service For Business</h2>
            </div>
            <!-- Services Boxes 
            <div class="row service-boxes justify-content-center">
                <div class="col-lg-3 col-sm-6 col-10 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="400ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/01.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/service-detail'>Creative Idea</a></h3>
                        <p>Sed perspicia unde omnis</p>
                        <a routerLink='/service-detail' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/02.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/service-detail'>Business Strategy</a></h3>
                        <p>Quis autem velrepres hend</p>
                        <a routerLink='/service-detail' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/03.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/service-detail'>Relationship</a></h3>
                        <p>Sed perspicia unde omnis</p>
                        <a routerLink='/service-detail' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-10 wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="700ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/04.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/service-detail'>Productivity</a></h3>
                        <p>Quis autem velrepres hend</p>
                        <a routerLink='/service-detail' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-one">
            <img src="assets/img/lines/12.png" alt="line-shape">
        </div>
        <div class="line-two">
            <img src="assets/img/lines/11.png" alt="line-shape">
        </div>
    </section>
    <!--====== Service Section End ======-->

    <!--====== Advanced Tabs Section Start ======
    <section class="advanced-tab section-gap">
        <div class="container">
            <!-- Tabs Buttons 
            <div class="tab-buttons">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="active" id="nav-mission" data-toggle="tab" href="#tab-mission" role="tab">Our Mission &
                        Vision</a>
                    <a id="nav-history" data-toggle="tab" href="#tab-history" role="tab">Company History</a>
                    <a id="nav-business" data-toggle="tab" href="#tab-business" role="tab">Business Goals</a>
                    <a id="nav-team" data-toggle="tab" href="#tab-team" role="tab">Team Member</a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tab-mission" role="tabpanel">
                        <div class="tab-text-block left-image with-left-circle">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-6 col-md-10">
                                    <div class="block-image">
                                        <img src="assets/img/tab-block.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-10">
                                    <div class="block-text">
                                        <h2 class="title">Professional Business Guidance Agency</h2>
                                        <p>
                                            Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium
                                            doloremque laudantium, totam raperiaeaque ipsa quae ab illo inventore
                                            veritatis et quasi
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                There are many variations of passages of LoreIpsum available, but the
                                                majority have suffered
                                            </li>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                It uses a dictionary of over 200 Latin wor combined with a handful of
                                                model sentence structure
                                            </li>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                Richard McClintock, a Latin profe hampden-sydney College in Virginia,
                                                looked up one more
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-history" role="tabpanel">
                        <div class="tab-text-block right-image with-right-circle">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-6 col-md-10 order-2 order-lg-1">
                                    <div class="block-text">
                                        <h2 class="title">Professional Business Guidance Agency</h2>
                                        <p>
                                            Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium
                                            doloremque laudantium, totam raperiaeaque ipsa quae ab illo inventore
                                            veritatis et quasi
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                There are many variations of passages of LoreIpsum available, but the
                                                majority have suffered
                                            </li>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                It uses a dictionary of over 200 Latin wor combined with a handful of
                                                model sentence structure
                                            </li>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                Richard McClintock, a Latin profe hampden-sydney College in Virginia,
                                                looked up one more
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-10 order-1 order-lg-2">
                                    <div class="block-image">
                                        <img src="assets/img/tab-block.jpg" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-business" role="tabpanel">
                        <div class="tab-text-block left-image with-left-circle">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-6 col-md-10">
                                    <div class="block-image">
                                        <img src="assets/img/tab-block.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-10">
                                    <div class="block-text">
                                        <h2 class="title">Professional Business Guidance Agency</h2>
                                        <p>
                                            Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium
                                            doloremque laudantium, totam raperiaeaque ipsa quae ab illo inventore
                                            veritatis et quasi
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                There are many variations of passages of LoreIpsum available, but the
                                                majority have suffered
                                            </li>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                It uses a dictionary of over 200 Latin wor combined with a handful of
                                                model sentence structure
                                            </li>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                Richard McClintock, a Latin profe hampden-sydney College in Virginia,
                                                looked up one more
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-team" role="tabpanel">
                        <div class="tab-text-block right-image with-right-circle">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-6 col-md-10 order-2 order-lg-1">
                                    <div class="block-text">
                                        <h2 class="title">Professional Business Guidance Agency</h2>
                                        <p>
                                            Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium
                                            doloremque laudantium, totam raperiaeaque ipsa quae ab illo inventore
                                            veritatis et quasi
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                There are many variations of passages of LoreIpsum available, but the
                                                majority have suffered
                                            </li>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                It uses a dictionary of over 200 Latin wor combined with a handful of
                                                model sentence structure
                                            </li>
                                            <li>
                                                <i class="fas fa-check"></i>
                                                Richard McClintock, a Latin profe hampden-sydney College in Virginia,
                                                looked up one more
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-10 order-1 order-lg-2">
                                    <div class="block-image">
                                        <img src="assets/img/tab-block.jpg" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section End ======-->

    <!--====== Video Start ======
    <section class="video-section-two bg-img-c" style="background-image: url(assets/img/video-bg/video-2.jpg);">
        <div class="container">
            <div class="row align-content-center justify-content-center">
                <div class="col-lg-10">
                    <div class="video-cont text-center">
                        <a href="https://www.youtube.com/watch?v=fEErySYqItI"
                            class="play-btn popup-video wow fadeInLeft" data-wow-duration="1500ms"
                            data-wow-delay="400ms"><i class="fas fa-play"></i></a>
                        <h2>
                            Watch Our Latest Videos For Better Innovative Business
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-shape-one">
            <img src="assets/img/lines/12.png" alt="Line">
        </div>
        <div class="line-shape-two">
            <img src="assets/img/lines/11.png" alt="Line">
        </div>
    </section>
    <!--====== Video end ======-->

    <!--====== Testimonials Section start ======-
    <section class="testimonial-section-three no-bg">
        <div class="container">
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-10">
                    <div class="testimonial-items" id="testimonialSliderThree">
                        <div class="testimonial-item text-center">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/author-9.png" alt="image">
                            </div>

                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fal fa-quote-left"></i>
                                    </span>
                                    Sedut perspiciatis unde omniiste natus errorsit voluptatem accusant doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab ilinventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    <span class="quote-bottom">
                                        <i class="fal fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="author">
                                <h4>Richard E. Harrisona</h4>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/author-9.png" alt="image">
                            </div>

                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fal fa-quote-left"></i>
                                    </span>
                                    Sedut perspiciatis unde omniiste natus errorsit voluptatem accusant doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab ilinventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    <span class="quote-bottom">
                                        <i class="fal fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="author">
                                <h4>Richard E. Harrisona</h4>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/author-9.png" alt="image">
                            </div>

                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fal fa-quote-left"></i>
                                    </span>
                                    Sedut perspiciatis unde omniiste natus errorsit voluptatem accusant doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab ilinventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    <span class="quote-bottom">
                                        <i class="fal fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="author">
                                <h4>Richard E. Harrisona</h4>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Testimonials Section end ======-->

    <!--====== Client Area Start ======
    <section class="client-section">
        <div class="container">
            <div class="client-slider section-gap line-top">
                <div class="row align-items-center justify-content-between" id="clientSlider">
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/about-us' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
    
    <app-footer1></app-footer1>