<app-header2></app-header2>
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Get in Touch</h1>
            <ul>
                <li>Do you have any queries? We’re happy to help!</li>
            </ul>
        </div>
    </div>
  <!--  <div class="breadcrumb-shapes">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>-->
</section>
<section class="contact-section contact-page section-gap">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="display-3">Thank You!</h1>
                <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
                <hr>
                <p>
                  Having trouble? <a href="/contact-us">Contact us</a>
                </p>
                <p class="lead">
                  <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
                </p>
              </div>
        </div>
    </section>
<app-footer1></app-footer1>