<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <div class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h2 class="page-title">Project Development</h2>
            <!--<ul>
                    <li><a routerLink='/'>Home</a></li>
                    <li>Process</li>
                </ul>-->
                <p>Before we begin, we take time to pinpoint what issue the project is actually supposed to fix. 
                    It’s not always obvious. We identify the deliverables and project planning steps required to meet 
                    the project's goals, e.g. What are the specific outputs we're expected to produce? Next, we estimate due dates for each deliverable in our project 
                    . We finalize these dates when we sit down with the client to define our project schedule.  </p><br>
                    <p>Then we look at each deliverable and define the series of tasks that must be completed to accomplish each one. For each task, we determine the amount of time it 
                        will take, the resources necessary, and who will be responsible for execution. </p>
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>
    <!--====== Breadcrumb part End ======-->
    <section class="faq-section section-gap1 mt-50">
        <div class="container">
            <!-- FAQ Page Title -->
            <div class="row faq-page-title align-items-center">
                <div class="col-lg-12">
                    <div class="section-title left-border">
                       
                        <h2 class="title">Project Management </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>
                        Prism Solutions assign a Project Manager that is responsible for managing the progress of your 
                        project. The project manager will be one of your primary contacts and they will provide you with status updates, schedule meetings, communicate deadlines, and coordinate internal team meetings. Prism Solutions uses a combination of cloud based technologies and internal
                         procedures to ensure that you and your team are kept up to date with project progress in real time.   
                    </p>
                    <p>
                        Additionally, throughout the project we will hold weekly recurring meetings to provide you with updates on recent items completed and pending items to be completed. These meetings will include the project lead from your organization, your Prism Solutions Project Manager, 
                        and depending on the scope of your project additional Prism  Solutions team members.   
                    </p>
                    </div>
            </div>
        </div>
    </section>
    <section class="working-process-section sgrey-bg">
        <div class="container">
            <h1>Helloo</h1>
            <div class="row align-items-center justify-content-center">
                
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            
                            <h2 class="title mt-170">The Best Solution for your Business  </h2>
                        </div>
                        <p>
                            Here, at Prism Solutions, we value all clients and put our hearts and brains into making their dreams a reality. Working in the closest collaboration 
                            turns out to yield the best fruit. Together, we can come up with a successful idea and put it into practice to achieve mutual benefit. </p> <br>

                        <p>To that end, we follow both current market trends and our clients’ competitors and generate win-win strategies to build a truly excellent product. </p>
                        <!-- process-loop -->
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/01.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section Start ======-->
    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            
                            <h2 class="title mt-170">The Best Solution for your Business  </h2>
                        </div>
                        <p>
                            Here, at Prism Solutions, we value all clients and put our hearts and brains into making their dreams a reality. Working in the closest collaboration 
                            turns out to yield the best fruit. Together, we can come up with a successful idea and put it into practice to achieve mutual benefit. </p> <br>

                        <p>To that end, we follow both current market trends and our clients’ competitors and generate win-win strategies to build a truly excellent product. </p>
                        <!-- process-loop -->
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/01.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section End ======-->
    <!--===== ========-->
    

    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            
                            <h2 class="title mt-170">The Best Solution for your Business  </h2>
                        </div>
                        <p>
                            Here, at Prism Solutions, we value all clients and put our hearts and brains into making their dreams a reality. Working in the closest collaboration 
                            turns out to yield the best fruit. Together, we can come up with a successful idea and put it into practice to achieve mutual benefit. </p> <br>

                        <p>To that end, we follow both current market trends and our clients’ competitors and generate win-win strategies to build a truly excellent product. </p>
                        <!-- process-loop -->
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/01.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Blog Section Start ======
    <section class="blog-section section-gap-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- Blog loop(Standard) 
                    <div class="blog-loop standard-blog row">
                        <!-- Single Post 
                        <div class="col-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/01.jpg" alt="Image">
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Inspired Design Decisions With Herb Typography Can Be As Exciting As
                                            Illustration & Photog
                                        </a>
                                    </h3>
                                    <p>
                                        But must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and will give you a complete account of the system, and
                                        expound the actual teachings of the great explorer of the truth, the
                                        master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                                        itse
                                    </p>
                                    <a routerLink='/blog-detail' class="main-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/02.jpg" alt="Image">
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            What Should You Do When A Web Design Trend Becomes Too Popular? Typography
                                        </a>
                                    </h3>
                                    <p>
                                        But must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and will give you a complete account of the system, and
                                        expound the actual teachings of the great explorer of the truth, the
                                        master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                                        itse.
                                    </p>
                                    <a routerLink='/blog-detail' class="main-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-12">
                            <div class="single-post-box quote-post">
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Visual Design Language The Building Blocks Of Design Web Design Trend
                                            Becomes
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-12">
                            <div class="single-post-box video-post">
                                <div class="post-video">
                                    <img src="assets/img/blog/03.jpg" alt="Image">
                                    <a href="https://www.youtube.com/watch?v=fEErySYqItI" class="popup-video">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            How Increase Mobile Conversions With Category Page DesignTrend Becomes
                                            Typography
                                        </a>
                                    </h3>
                                    <p>
                                        But must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and will give you a complete account of the system, and
                                        expound the actual teachings of the great explorer of the truth, the
                                        master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                                        itse.
                                    </p>
                                    <a routerLink='/blog-detail' class="main-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-post-box no-thumb">
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Inspired Design Decisions With Otto Storch When Idea Copy Art And Typography
                                        </a>
                                    </h3>
                                    <p>
                                        But must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain born and give you a complete account of the system, and expound
                                        the actual teachings of the great explorer of the the
                                        master-builder of human happiness. No one rejects,
                                    </p>
                                    <a routerLink='/blog-detail' class="main-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination 
                    <div class="pagination-wrap">
                        <ul>
                            <li><a routerLink='/blog-standard'><i class="far fa-angle-left"></i></a></li>
                            <li class="active"><a routerLink='/blog-standard'>01</a></li>
                            <li><a routerLink='/blog-standard'>02</a></li>
                            <li><a routerLink='/blog-standard'>03</a></li>
                            <li><a routerLink='/blog-standard'><i class="far fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <!-- sidebar 
                    <app-blog-sidebar></app-blog-sidebar>
                </div>
            </div>
        </div>
    </section>
    <!--====== Blog Section End ======-->

    <!--====== Client Area Start ======
    <section class="client-section">
        <div class="container">
            <div class="client-slider section-gap">
                <div class="row align-items-center justify-content-between" id="clientSlider">
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>