<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <div class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1>Project Management</h1>
            <!--<ul>
                    <li><a routerLink='/'>Home</a></li>
                    <li>Process</li>
                </ul>-->
                <p>Before we begin, we take time to pinpoint what issue the project is actually supposed to fix. 
                    It’s not always obvious. We identify the deliverables and project planning steps required to meet 
                    the project's goals, e.g. What are the specific outputs we're expected to produce? Next, we estimate due dates for each deliverable in our project 
                    . We finalize these dates when we sit down with the client to define our project schedule.  </p><br>
                    <p>Then we look at each deliverable and define the series of tasks that must be completed to accomplish each one. For each task, we determine the amount of time it 
                        will take, the resources necessary, and who will be responsible for execution. </p>
            </div>
        </div>
    <!--   <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>--> 
    </div>
    <!--====== Breadcrumb part End ======-->
    <section class="faq-section section-gap1 mt-50">
        <div class="container">
            <!-- FAQ Page Title -->
            <div class="row faq-page-title align-items-center">
                <div class="col-lg-12">
                    <div class="section-title left-border">
                       
                        <h2 class="title">Project Management </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>
                        Prism Solutions assign a Project Manager that is responsible for managing the progress of your 
                        project. The project manager will be one of your primary contacts and they will provide you with status updates, schedule meetings, communicate deadlines, and coordinate internal team meetings. Prism Solutions uses a combination of cloud based technologies and internal
                         procedures to ensure that you and your team are kept up to date with project progress in real time.   
                    </p>
                    <p>
                        Additionally, throughout the project we will hold weekly recurring meetings to provide you with updates on recent items completed and pending items to be completed. These meetings will include the project lead from your organization, your Prism Solutions Project Manager, 
                        and depending on the scope of your project additional Prism  Solutions team members.   
                    </p>
                    </div>
            </div>
        </div>
    </section>
    <section class="working-process-section sgrey-bg">
        <div class="container">
            <h2 class="mb-30 centers">Steps of Project Management Plan</h2>
            <h3 class="mb-50 centers"> Business Process Review and Requirements Gathering<br>

                </h3>
            <div class="row justify-content-center">
                
                
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">Analysis</span>

                        </div>
                        <div class="accordion faq-loop grey-header" id="faqAccordion">
                            <div class="">
                                <div class="">
                                    <p >
                                        Our first step in the project will be to assess in more detail of system strategies, current data, and how you work. Based on our extensive
                             implementation experience, we know the crucial questions to ask to ensure we build an optimal project plan. We will spend time interviewing 
                             staff, reviewing your processes and data, and digging into the various systems you have in place. From those efforts we will be able to align 
                             the hours and services we have proposed here with the detail of exactly how we recommend the project proceed.  
                                        
                                    </p>
                                    <br>
                                    <p>
                                        We will start this process with a brief kick-off meeting to introduce the project participants and
                                        review the plan. Then, we will conduct meetings with the organization’s stakeholders for this 
                                        process to further clarify current processes and future goals. Stakeholders could include 
                                        development or program staff,
                                    </p>
                                    
                                </div>
            
                                <div id="collapseOne" class="collapse" data-parent="#faqAccordion">
                                    <div class="">
                                       <p>
                                    executive project sponsors, and the IT personnel managing the project. 
                                    These meetings will be held online and, ideally, will be scheduled over the course of a few weeks. 
                                    We anticipate two to three deep discovery meetings of 60 to 90 minutes each.  
                                </p>
                                <p>During these meetings, we will interview staff members to get a sense of:  </p>
                                <ul>
                                    <li>Specifications of current IT structure  </li>
                                    <li>Completeness and structure of source data in various databases including Access  </li>
                                    <li>
                                       Precise functionality desired in new technology to include business process, notifications and day-to-day processes  
                                    </li>
                                    <li>
                                       Organizational priorities of desired features and functionality  
                                    </li>
                                 </ul>
                                 <p>From the Analyse and Design stage, Prism Solutions will create and request sign-off on a detailed requirements and solutions workbook, 
                                    and a technical design document, if necessary, for the work efforts needed to successfully complete the project. (Note: upon completion 
                                    of the Analyse and Design stage we may require revisiting estimates for build and data migration before proceeding with programming in 
                                    the Build stage.</p>
                                    </div>
                                </div>
                                <span class="icons collapsed" data-toggle="collapse" data-target="#collapseOne">
                                    <i class="far fa-plus"><span style="margin-left:10px">Read More</span></i>
                                </span>
                            </div>
                            
                        </div>
                        
                         
                    <!--     <ul>
                            
                            <li>Completeness and structure of source data in various databases including Access  </li>
                            
                         </ul>-->
                         
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/03.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section Start ======-->
    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">Design & Develop  </span>
                            
                        </div>
                        <p>When designing projects, we strive to deliver solutions that allow our clients to receive maximum return for each dollar 
                            invested in their IT budget. Through a combination of expert project management/oversight and highly qualified technical 
                            staff, Prism Solutions team takes great pride in delivering projects on schedule and within the established budget.</p>  <br>
                        <p>
                            We find that the most successful deployments occur when there is proper planning, documentation and communication with all 
                            stakeholders. will integrate CMMI and ISO guidelines into our approach to establish the best infrastructure for managing the 
                            program. Intrinsic to our program management approach are processes, procedures, tools and best practices we have developed over the years.  </p>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/01.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section End ======-->
    <!--===== ========-->


    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row justify-content-center">
                
                
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">Validate</span>

                        </div>
                        <div class="accordion faq-loop grey-header" id="faqAccordion">
                            <div class="">
                                <div class="">
                                    <p >
                                        We will implement and maintain a written Quality Control Plan (QCP) that will be based on our 
                                        corporate Quality Management System (QMS) Procedures Manual. Our QMS Procedures Manual defines 
                                        our quality management process, our approach to quality control, our quality control inspection 
                                        system, our process for identifying and correcting deficiencies, how we promote customer relations 
                                        and communications, and our guidelines for preparing QCPs. Our QCP will address the continuous 
                                        improvement process; the procedures and responsibilities for scheduling, conducting, and documenting 
                                        inspections; the process for identifying and correcting deficiencies; the procedures for root cause analysis 
                                        to identify the root cause and root cause corrective action to prevent re-occurrence of discrepancies; 
                                        the procedures for trend analysis; and the procedures for collecting and addressing Customer
                                    
                                </div>
            
                                <div id="collapseOne" class="collapse" data-parent="#faqAccordion">
                                    <div class="">
                                       <p>
                                        feedback and complaints.  Also, we will plan and attend post award conferences and other periodic 
                                        meetings with the contracting activity to review our performance and to resolve any problems.  
                                    </p><br>
                                    <p>
                                        The services provided under the SLA include:  
                                    </p>
                                    <ul>
                                        <li>Providing the ability to report incidents (including errors) through the system of report registration  </li>
                                        <li>The guaranteed availability of specialists who are ready and able to solve the reported incidents within the specified timeframe  </li>
                                        <li>Ensuring the availability of technical support via telephone (hotline) for applications, providing consultations on the operation of the system</li>
                                        <li>System monitoring (measuring availability and performance, enabling the detection of performance losses before users notice them)  </li>
                                    </ul>
                                    </div>
                                </div>
                                <span class="icons collapsed" data-toggle="collapse" data-target="#collapseOne">
                                    <i class="far fa-plus"><span style="margin-left:10px">Read More</span></i>
                                </span>
                            </div>
                            
                        </div>
                        
                         
                    <!--     <ul>
                            
                            <li>Completeness and structure of source data in various databases including Access  </li>
                            
                         </ul>-->
                         
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/02.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--====== Blog Section Start ======
    <section class="blog-section section-gap-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- Blog loop(Standard) 
                    <div class="blog-loop standard-blog row">
                        <!-- Single Post 
                        <div class="col-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/01.jpg" alt="Image">
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Inspired Design Decisions With Herb Typography Can Be As Exciting As
                                            Illustration & Photog
                                        </a>
                                    </h3>
                                    <p>
                                        But must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and will give you a complete account of the system, and
                                        expound the actual teachings of the great explorer of the truth, the
                                        master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                                        itse
                                    </p>
                                    <a routerLink='/blog-detail' class="main-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/02.jpg" alt="Image">
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            What Should You Do When A Web Design Trend Becomes Too Popular? Typography
                                        </a>
                                    </h3>
                                    <p>
                                        But must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and will give you a complete account of the system, and
                                        expound the actual teachings of the great explorer of the truth, the
                                        master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                                        itse.
                                    </p>
                                    <a routerLink='/blog-detail' class="main-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-12">
                            <div class="single-post-box quote-post">
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Visual Design Language The Building Blocks Of Design Web Design Trend
                                            Becomes
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-12">
                            <div class="single-post-box video-post">
                                <div class="post-video">
                                    <img src="assets/img/blog/03.jpg" alt="Image">
                                    <a href="https://www.youtube.com/watch?v=fEErySYqItI" class="popup-video">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            How Increase Mobile Conversions With Category Page DesignTrend Becomes
                                            Typography
                                        </a>
                                    </h3>
                                    <p>
                                        But must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and will give you a complete account of the system, and
                                        expound the actual teachings of the great explorer of the truth, the
                                        master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                                        itse.
                                    </p>
                                    <a routerLink='/blog-detail' class="main-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-post-box no-thumb">
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="far fa-user"></i><a routerLink='/blog-standard'>Nichel Jhon</a></li>
                                        <li><i class="far fa-calendar-alt"></i><a routerLink='/blog-standard'>25 Aug 2020</a></li>
                                        <li><i class="far fa-comments"></i><a routerLink='/blog-standard'>Comments (05)</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Inspired Design Decisions With Otto Storch When Idea Copy Art And Typography
                                        </a>
                                    </h3>
                                    <p>
                                        But must explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain born and give you a complete account of the system, and expound
                                        the actual teachings of the great explorer of the the
                                        master-builder of human happiness. No one rejects,
                                    </p>
                                    <a routerLink='/blog-detail' class="main-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination 
                    <div class="pagination-wrap">
                        <ul>
                            <li><a routerLink='/blog-standard'><i class="far fa-angle-left"></i></a></li>
                            <li class="active"><a routerLink='/blog-standard'>01</a></li>
                            <li><a routerLink='/blog-standard'>02</a></li>
                            <li><a routerLink='/blog-standard'>03</a></li>
                            <li><a routerLink='/blog-standard'><i class="far fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <!-- sidebar 
                    <app-blog-sidebar></app-blog-sidebar>
                </div>
            </div>
        </div>
    </section>
    <!--====== Blog Section End ======-->

    <!--====== Client Area Start ======
    <section class="client-section">
        <div class="container">
            <div class="client-slider section-gap">
                <div class="row align-items-center justify-content-between" id="clientSlider">
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-standard' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>