.project-details ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 60px;
    text-indent: -1em;
}

.breadcrumb-section h1{
    color: white;
    font-size: 60px;
}

.breadcrumb-section p{
    color: white;
    font-size:25px;
}


