<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1>Salesforce Communities and <br> Sales Cloud Implementation</h1>
                <br>
                
                    <p>Our Salesforce team implemented Salesforce Customer Communities and Sales Cloud Implementation 
                        for our Real Estate Client. In addition to that, our team also migrated The System was migrated 
                        the system from manual excel sheets to Salesforce Cloud Communities.</p>
                
            </div>
        </div>
    <!--    <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div> -->
    </section>
    <!-- ===== Breadcrumb part End ======-->

    <!--====== Project Details Start ======-->
    <section class="project-details section-gap">
        <div class="container">
            <div class="project-content mt-60">
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-2">
                        <div class="content">
                            <h3 class="mb-10">Client</h3>
                            <p class="mb-20">Bogie Investment Group, Inc.  </p>
                            <h3 class="mb-10">Website</h3>
                            <a href="https://www.thebogiegroup.com/" target="_blank" class="mb-20">www.thebogiegroup.com</a>
                            <h3 class="mb-10">Company size</h3>
                            <p class="mb-20">1,001-5,000 Employees </p>
                            <h3 class="mb-10">Challenge </h3>
                            <p class="mb-10">
                                The Client requested us to implement a document automation flow to align with the Client’s business flows. This was in addition to a Salesforce Customer 
                                Communities and Sales Cloud integration. Furthermore, with the help of that Sales Cloud integration, the following functionality needed to be available:  
                            </p>
                            <ol class="mb-20">
                                <li>Cold Calling Module  </li>
                                <li>Manage Providers  </li>
                                <li>Contracts Management  </li>
                                <li>Sales Comparable  </li>
                                <li>Rent Comparable  </li>
                                <li>Marketing  </li>
                                <li>Directory – company directory (some viewable to all, most private to staff).  </li>
                                <li>Proposals Management – all the technical data (~100 fields). Linked to the proposal/deal. We use this to create quarterly mail merge statements.  </li>
                                <li>Listing Module</li>
                            </ol>
                            <h3 class="mb-10">Project Overview</h3>
                            <p class="mb-20">
                                <b>Salesforce Customer Communities and Sales Cloud Implementation </b><br> 
                                The Bogie Group is a full-service commercial Real Estate company specializing in the brokerage of multifamily real 
                                estate investments and 1031 exchanges.
                                The System was migrated from manual excel sheets to Salesforce Cloud Communities. The new system is a combination 
                                of CRM & property search tools and is solely build for Bogie Investment groups, Inc. The focus of this project was 
                                to develop a commercial Real Estate Software System in Salesforce that would reflect actual business processes of the company.    
                            </p>
                            <h3 class="mb-10">Project Impact </h3>
                            <p>
                                The Prism Consulting team implemented Salesforce Sales Cloud integration to provide Sales Agents everything; from lead generation tools to cold calling,
                                 communication to proposal management, and analyzing different types of data & reports, generation tools & other open-house management tools. All Sales agents 
                                 are at one forum now for effective collaboration. 
                                Processes have been speed up and quality of cold calling is improved due to process automation which makes deal making easy and fast. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Project Details End ======-->

    <!--====== CTA Start ======-->
    <section class="cta-aection">
        <div class="container">
            <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <div class="section-title both-border mb-30">
                                <span class="title-tag">Talk To Our Consultant</span>
                                <h2 class="title">Feel Any Project For Salesforce Consulting?</h2>
                            </div>
                            <a routerLink='/contact-us' class="main-btn main-btn-3">Let's Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CTA Start ======-->

    <!--====== Client Area Start ======-->
    <section class="testimonial-section-two section-gap">
        <div class="container">
            <div class="client-slider section-gap-bottom">
                
                <div class="row align-items-center justify-content-between testimonial-items" id="clientSlider">
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Attic.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Blackbridge.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/CarlMarks.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Orion_wine.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/HealthCareHighway.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>