.header-topbar-inner .contact-info{
    font-size: 14px;
}

/*.header-nav .service-menu {
    display:none;
}*/

.menu-items .icon-align {
   margin-left: 40px;
}

.menu-items .icon-align-right {
    
    visibility:hidden;
}

.menu-items .show-menu:hover .icon-align {
    display:none;
}

.menu-items .show-menu:hover .icon-align-right {
    visibility:visible;
    margin-left: 40px;

}