.parag p {
    font-size: 13px;
}

.parag .contextMaxWidth {
    max-width:20%;
}

.video-poster-two {
    bottom: -56px;
}

.paddingPlusRadius {
    padding-bottom: 50px;
    border-radius: 20px;
}

.serviceTiles:hover {
    border: 1px solid #ff4a17;
    box-shadow: 0px 0px 5px #ff4a17;
}

.bg-color {
    background: rgba(119, 119, 119, 0.5);
    padding:10px;
}