<app-header2></app-header2>
<!---->
<section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <h1>Document Automation </h1>
            <ul>
                <li>Allow Salesforce users to generate and customize <br>
                data driven documents.</li>
            </ul>
        </div>
    </div>
    <!--<div class="breadcrumb-shapes">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>-->
</section> 
<!--====== Breadcrumb part End ======-->
<section class="faq-section section-gap">
    <div class="container">
        <!-- FAQ Page Title -->
        <div class="row faq-page-title align-items-center">
            <div class="col-lg-12">
                <div class="section-title left-border">
                    <span class="title-tag">Automation</span>
                    <h2 class="title">Salesforce Document Automation Services </h2>
                </div>
            </div>
            <div class="col-lg-12 mt-30">
                <p>
                    Automate document creation and delivery in minutes with the ONLY solution that runs 100% within your Salesforce cloud.   
                </p><br>
                <p>
                    Document generation applications that allows Salesforce CRM users to generate, customize, edit, and produce data driven d
                    ocuments that can both increase efficiency and offer consistency to brand and corporate image. 
                </p>
                <p>
                    These applications generate documents to address many of the common Salesforce CRM document generation use cases, for Word, Excel®, PowerPoint®, PDF or
                     HTML emails. Document generation applications should easily maintain brand consistency and offer conditional formatting. Documents created through these 
                    products range in functionality and can include proposals, legal documentation, presentations, quotes and contracts, among others. 
                </p>
            </div>

        </div>

       
    </div>
</section>

<section class="faq-section section-gap pt-0">
    <div class="container">
        <!-- FAQ Page Title -->
        <div class="row faq-page-title align-items-center">
            <div class="col-lg-12">
                <div class="section-title left-border">
                    <span class="title-tag">Automation</span>
                    <h2 class="title">Salesforce Document Automation Solutions  </h2>
                </div>
            </div>
            <div class="col-lg-12 mt-30">
                <p>
                    With advanced features like one-click automation, conditional logic, reusable components, SOQL support, run-time prompts and full REST APIs, these apps deliver the most capabilities. 
                    Salesforce Document Automation is the smart choice because it's: 
                </p><br>
                <ul>
                    <li>Easier to Use </li>
                    <li>More Secure </li>
                    <li>More Powerful </li>
                    <li>More Cost Effective</li>
                </ul>
                
            </div>
            <div class="col-lg-12 mt-50">
                <div class="section-title left-border">
                    <span class="title-tag">Automation</span>
                    <h2 class="title">Create documents via click, workflow or batch: </h2><br>
                    <ul>
                        <li>Easier to Use </li>
                        <li>More Secure </li>
                        <li>More Powerful </li>
                        <li>More Cost Effective</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-12 mt-30">
                
                
            </div>

        </div>

       
    </div>
</section>




<app-footer1></app-footer1>