.breadcrumb-section h1{
    color: white;
    font-size: 60px;
}

.breadcrumb-section p{
    color: white;
    font-size:25px;
}

.bg-color {
    background: rgba(119, 119, 119, 0.5);
    padding:10px;
}