<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1> Case Study</h1>
                <p><strong>Bogie Investment Group, Inc. </strong></p>
            </div>
        </div>
    <!--<div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>-->    
    </section>
    <!--====== Breadcrumb part End ======-->
    <section class="project-details section-gap">
        <div class="container">
            
            <div class="project-content mt-60">
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-2">
                        <div class="section-title left-border mb-40">
                            <span class="title-tag">Sales Cloud, Service Cloud </span>
                            <h2 class="title">How a mid-sized Commercial Real Estate company earned 35% more leads and boosted sales by 27% </h2>
                        </div>
                        <div class="content">
                            <p>After nearly two decades in business, sales and leads generation at Bogie Investment Group, Inc. were stagnating. Despite a strong reputation and 
                                well-respected suite of real estate services, the company was still relying on the same outdated processes for capturing, nurturing, and converting 
                                leads to sales. The team knew it had to modernize its customer relationship management strategy to keep up with a highly competitive market full of 
                                tech-oriented disruptors. It was finally time to modernize the sales and lead generation process. </p>

                            <p><strong>About Bogie Investment Group, Inc: </strong>The Bogie Group of Marcus & Millichap is a full-service team of commercial real estate agents and support staff 
                                specializing in the brokerage of multifamily real estate investments and 1031 exchanges in the Long Beach, South Bay, Los Angeles and surrounding 
                                areas. The Bogie Group provides access to the industry's largest inventory of exclusively listed properties, cutting-edge research, a nationwide network 
                                of more than 2,000 agents connected by proprietary technology, and more. </p>
                            
                            
                            <h4 class="mb-10">Project Overview</h4>
                            <p class="mb-20">
                                Salesforce Sales Cloud <br>

                                Client wanted Prism Solutions to build an app to allocat a tracking number to every order so that customers are able to track their parcels thorugh that number. 
                                Salesforce consultant team at Prism Solutions developed Order Tracking tool in Salesforce Sales Cloud. FreightPrint Order Tracking tool is built to enhance customers’ 
                                shipping experience. Having a customer relationship management (CRM) software is a key factor in improving customer relationship. Salesforce and 
                                FreightPrint integration provides a powerful tool for any logistics company that uses Salesforce.
                            </p>
                            <h4 class="mb-10">Project Impact </h4>
                            <p class="mb-10">
                                FreightPrint Order Tracking tool captures the geographic location coordinates of each delivery location and verifies it instantly, and records it for accuracy. 
                                Sales team can instantly create unique shipment tracking numbers for customers. No more waiting and guessing on order ETAs or other shipping related inquiries.With the help of OrderTtracking 
                                 System Client's customers can track purchasing and procurement activities, such as:

                            </p>
                            <ol>
                                <li>Confirm purchase orders are received</li>
                                <li>Know where the orders are</li>
                                <li>Keep track of multiple delivery dates</li>
                                <li>The reassurance you'll meet the order deadline</li>
                                <li>Simplify purchase order reporting</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <app-footer1></app-footer1>