<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1> Case Study</h1>
                <p><strong>Bogie Investment Group, Inc. </strong></p>
            </div>
        </div>
    <!--<div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>-->    
    </section>
    <!--====== Breadcrumb part End ======-->
    <section class="project-details section-gap">
        <div class="container">
            
            <div class="project-content mt-60">
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-2">
                        <div class="section-title left-border mb-40">
                            <span class="title-tag">Sales Cloud, Service Cloud </span>
                            <h2 class="title">How a mid-sized Commercial Real Estate company earned 35% more leads and boosted sales by 27% </h2>
                        </div>
                        <div class="content">
                            <p>After nearly two decades in business, sales and leads generation at Bogie Investment Group, Inc. were stagnating. Despite a strong reputation and 
                                well-respected suite of real estate services, the company was still relying on the same outdated processes for capturing, nurturing, and converting 
                                leads to sales. The team knew it had to modernize its customer relationship management strategy to keep up with a highly competitive market full of 
                                tech-oriented disruptors. It was finally time to modernize the sales and lead generation process. </p><br>

                            <p><strong>About Bogie Investment Group, Inc: </strong>The Bogie Group of Marcus & Millichap is a full-service team of commercial real estate agents and support staff 
                                specializing in the brokerage of multifamily real estate investments and 1031 exchanges in the Long Beach, South Bay, Los Angeles and surrounding 
                                areas. The Bogie Group provides access to the industry's largest inventory of exclusively listed properties, cutting-edge research, a nationwide network 
                                of more than 2,000 agents connected by proprietary technology, and more. </p>
                            
                            
                                <h2 class="title mt-30">Outdated Systems, Manual Processes </h2>
                                <p>
                                    In a competitive vertical, stagnating sales and inefficient lead generation activities can spell trouble. Even companies with outstanding products and services can 
                                    fall behind when they use dated customer relationship management tools 
                                    (or none at all). In the case of The Bogie Group, newcomers specializing in real estate services were threatening to cut into the company’s long standing market share
                                </p><br>
                                <p>
                                    With no customer relationship management (CRM) solution in place, The Bogie Group relied on manual processes for nearly all its lead generation and sales activities—many 
                                    of the same processes it had been using for past few years. This was creating inefficiencies in a number of areas: 
                                </p><br>
                                <ul>
                                    <li>Inconsistent week-over-week lead generation </li>
                                    <li>Disorganized, time-intensive process for lead recording, profiling, and scoring </li>
                                    <li>Limited visibility into historical appointments of existing prospects </li>
                                    <li>Unwieldy, difficult-to-update Excel Price Books </li>
                                    <li>Inefficient internal communications did primarily via post-it notes </li>
                                    <li>Labor-intensive, hand-tallied performance reporting</li>
                                </ul><br>
                                <p>
                                    Before implementing a tailored Salesforce solution, the company’s sales manager spent most of his day scheduling and confirming appointments, 
                                    rather than managing and coaching his sales staff. And without sophisticated reporting, the company was missing out on important customer 
                                    insights that might inform more effective time and resource allocation for sales and lead generation activities. As a result, staff burnout and turnover were impacting cost. 
                                </p><br>
                                <p>
                                    With no customer relationship management (CRM) solution in place, The Bogie Group relied on manual processes for nearly all its lead generation and sales activities. 
                                </p>
                                <h2 class="title mt-30">A Tailored Salesforce Implementation </h2>
                                <p>
                                    When The Bogie Group came to Prism Solutions, they needed more than a flat, out-of-the-box Salesforce deployment. Their team needed a cloud-based customer relationship
                                     management implementation tailored to their specific business challenges. 
                                </p><br>
                                <p>
                                    After a productive business process review and planning phase, The Bogie Group successfully migrated their entire sales and marketing operation to Salesforce Sales
                                     Cloud with Chatter. Their comprehensive solution now includes: 
                                </p><br>
                                <ul>
                                    <li>Integrated Five9 Dialer inside of Salesforce with screen-pop and business intelligence </li>
                                    <li>Robust appointment tracking process for managers to reference full customer history </li>
                                    <li>Optimized appointment setting with integrated Geopointe app to assign reps based on the location of customers </li>
                                    <li>Integrated company price books for easy, on-the-fly pricing </li>
                                    <li>Customized performance dashboards and reporting </li>
                                    <li>Reset, Reload, and Rehash automation to recycle leads and upsell existing customers</li>
                                </ul>
                                <h2 class="title mt-30">Automation Leads to Immediate Results </h2>
                                <p>
                                    After implementing its Salesforce solution, The Bogie Group saw a much needed boost in two key performance indicators for their sales and marketing team: 
                                </p>
                                <p>
                                    35% <i class="fas fa-arrow-up icons-fa"></i><br>
                                    increase in leads generated weekly <br>
                                    27% <i class="fas fa-arrow-up icons-fa"></i> <br>
                                    increase in the no. of monthly sales 
                                </p><br>
                                <p>
                                    Contributing significantly to these increases were efficiency gains from process automation. The time now spent to generate a lead, for example,
                                     was reduced from eight minutes to under three.
                                    And new automated appointment setting lead to a dramatic 70% improvement in appointment confirmations along with far fewer no-shows. 
                                </p><br>
                                <p>
                                    Saving time was a common theme throughout this entire implementations. Administrators now spend seven fewer hours a week coordinating the lead statuses 
                                    between the sales manager, reps, and executives.  
                                </p>
                                <h2 class="title mt-30">New Insights to Help Scale Into the Future </h2>
                                <p>
                                    Beyond the immediate efficiency gains and boosted sales, this new Salesforce implementation unlocked groundbreaking insights into sales team performance. 
                                    The team at The Bogie Group can now identify gaps, trends, and future projections based on q
                                    ualitative customer data. The company has stabilized its place in the market and has positioned itself well to continue scaling into the future. 
                                </p>



                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <app-footer1></app-footer1>