<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">Case Study</h1>
                <ul>
                    <li><a routerLink='/'>Home</a></li>
                    <li>Case Study</li>
                </ul>
            </div>
        </div>
    <!--<div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>-->    
    </section>
    <!--====== Breadcrumb part End ======-->

    
    <app-footer1></app-footer1>