<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">Resource Center Services</h1>
                <ul>
                    <li><a routerLink='/'>Home</a></li>
                    <li>Resource Center Services</li>
                </ul>
            </div>
        </div>
       <!--<div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>--> 
    </section>
    <!--====== Breadcrumb part End ======-->

    <section class="faq-section section-gap section2">
        <div class="container">
            <!-- FAQ Page Title -->
            <div class="row faq-page-title align-items-center">
                <div class="col-lg-12">
                    <div class="section-title left-border">
                        
                        <h2 class="title">Dedicated Resource Centre </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>
                        At Prism Solutions, hire a dedicated resource to establish your own offshore development center, expand your development and testing infrastructure and build 
                        a team of your offshore call center agents. Our appointed resources will work on your projects to fulfill your needs and help you in reducing operating costs and improving the productivity of your organization. 
                        
                    </p><br>
                    <p>
                        We provide the best infrastructure and administration for your resources in our Resource Centre. Our offshore development teams develop the software as per your requirements and goals, so, you don’t need to worry about anything other than building your business. 
                        We believe in providing a cost-effective and long-term strategic partnership with our clients from various industries. 
                    </p>
                   
                </div>
                <div class="col-lg-12 mt-80">
                    <div class="section-title left-border">
                        
                        <h2 class="title">Why Prism Solutions as Dedicated Resource Centre? </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>Instead of having a whole IT department that will disturb your financial budget, partnering with our offshore team will allow you to complete your projects, improve and maintain your resources professionally, quickly and effectively. Our dedicated resource center is exclusively designed to 
                        help organizations with the perfect resources and infrastructure to deploy large IT and non-IT projects. 
                    </p>
                   
                </div>
                <div class="col-lg-12 mt-80">
                    <div class="section-title left-border">
                        
                        <h2 class="title">Resource Centre Features </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>Some of the features why you choose Prism Solutions as your Dedicate Resource Centre are: 
                    </p><br>
                    <ul>
                        <li><strong>Dedicated Work Environment </strong>- Our truly service-oriented approach focuses on your projects</li>
                        <li><strong>Talented Team </strong>- Our team is well-versed with various technology stacks and versatile development experience to meet your unique business needs</li>
                        <li><strong>Flexible Model </strong>- You can easily adjust the team size, and get extra resources according to your needs with this flexible model</li>
                        <li><strong>Cost Effectiveness </strong>- Resources appointment at an affordable cost </li>
                        <li><strong>Customer-Centric Environment </strong>- An atmosphere of mutual trust with our clients</li>
                        <li><strong>Time Efficiency  </strong>- Faster development and commitment to meet deadline </li>
                        <li><strong>Transparency  </strong>- Access to our infrastructure and technical experts </li>
                        <li><strong>Support </strong>- HR, Administrative and Operational support</li>
                        <li><strong>Security  </strong>- Physical and network security, centralized backup </li>
                    </ul>
                
                </div>
                <div class="col-lg-12 mt-80">
                    <div class="section-title left-border">
                        
                        <h2 class="title">Some Other Advantages of Offshore Resource Centre  </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>At Prism Dedicated Resource Centre you’ll be having excellent infrastructure and team of trained resources; it is more like your companies extended arm. 
                        The appointed resources are hired to work in coordination with your onshore team members. Some of the other core benefits are: 
                    </p><br>
                    <ul>
                        <li>Large pool of experienced resources to select from as per your needs</li>
                        <li>Add or remove resources as per work requirements </li>
                        <li>Focus on your core competency </li>
                        <li>Cost benefits as compared to hiring in clients own country </li>
                        <li>Appointed resource/team working exclusively on your project </li>
                        <li>Lower cost as compared to outsourcing projects  </li>
                        <li>Highly skilled and talented professionals for your work  </li>
                        
                    </ul>
                
                </div>
                <div class="col-lg-12 mt-80">
                    <div class="section-title left-border">
                        
                        <h2 class="title">In-House Control Level </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>At Prism Solutions, our strategic model of dedicated resource centre provides you with full control over ever-changing software requirements,
                         research & development, quality assurance, deployment, maintenance, support and other complex requirements. Some control features are: 
                    </p><br>
                    <ul>
                        <li>Data Confidentiality and IP protection </li>
                        <li>Security for data loss </li>
                        <li>Persistent Communications with onshore team members  </li>
                        <li>Daily auditable work report </li>
                        <li>Implementation of different work related policies  </li>
                                               
                    </ul>
                
                </div>
                <div class="col-lg-12 mt-80">
                    <div class="section-title left-border">
                        
                        <h2 class="title">Our Dedicated Resource Model  </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>What makes our dedicated business resource model unbeatable is its flexibility. As we know, the requirements of clients constantly change, and we adjust to these 
                        changes any time before delivery. At The One Technologies, our Dedicated Resource Models propose competitive prices, dedicated resources, no hidden costs, and zero overheads to every client. 
                    </p><br>
                    <ul>
                        <li><strong>Full-Time Hiring </strong>- Hire expert resources for your projects on a full-time basis and have full control over the process.  </li>
                        <li><strong>Part-Time Hiring </strong>- As the name implies in part-time hiring model, to cater to small business needs, you can hire a small team of dedicated developers for small projects. </li>
                        <li><strong>Hourly Hiring </strong>- Hire our expert based on the number of working hours. For small projects and to cater to small business needs, this model works on an hourly basis. </li>
                        <li><strong>Fixed Price </strong>- This model is well suited to clients who have a well-structured process to gather requirements, scope, deliverables and acceptance criteria for the project. </li>
                        <li><strong>Dedicated Team </strong>- We provide experienced and highly skilled resources to work on a monthly hiring basis for your project development work.  </li>
                                               
                    </ul>
                
                </div>
                <div class="col-lg-12 mt-80">
                    <div class="section-title left-border">
                        
                        <h2 class="title">In-House Control Level </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>At Prism Solutions, our strategic model of dedicated resource centre provides you with full control over ever-changing software requirements,
                         research & development, quality assurance, deployment, maintenance, support and other complex requirements. Some control features are: 
                    </p><br>
                    <ul>
                        <li>Finalize Deal </li>
                        <li>Requirement Analysis </li>
                        <li>Job advertisement / Interview / profile creation </li>
                        <li>Team Approval </li>
                        <li>Appointment  </li>
                        
                    </ul>
                
                </div>
                <div class="col-lg-12 mt-80">
                    <div class="section-title left-border">
                        
                        <h2 class="title">Industries We Serve  </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>Dedicated Resource Centre Services offered by us cover various industry sectors and helps our valued clients getting the required support through us. 
                    </p><br>
                    <ul>
                        <li>Manufacturing </li>
                        <li>IT & Research </li>
                        <li>Agriculture </li>
                        <li>Construction </li>
                        <li>Education </li>
                        <li>Healthcare </li>
                        <li>Ecommerce </li>
                        <li>Real Estate </li>
                        <li>Transportation </li>
                        <li>Financial Services </li>
                        <li>Petroleum </li>
                        <li>Telecom </li>
                        <li>Lifestyle & Fitness </li>
                        <li>Food (FMCG) </li>
                        <li>Wholesale & Retail </li>
                        <li>Hospitality & Travel</li>
                     </ul>
                
                </div>
            </div>

            
        </div>
    </section>

    <!--====== Service Details Start ======-->
    <section class="service-details section-gap">
        <div class="container">
            <div class="row">
                <!-- Dettails Content -->
                <div class="col-lg-8">
                    <div class="service-details-content">
                        <div class="main-thumb mb-40">
                            <img src="assets/img/details/service-01.jpg" alt="image">
                        </div>
                        <h2 class="title">Financial Planning</h2>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                            consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                            molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatu
                        </p>
                        <ul class="circle-check-list mt-80 mb-50">
                            <li>
                                <i class="fas fa-check"></i>
                                Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                magnam aliquam quaerat voluptatem enim ad minima veniam quis nostrum
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nmolestiae
                                consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatu
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                But I must explain to you how all this mistaken idea of denouncing pleasure praising
                                pain was born and I will give you complete account of the system expound
                            </li>
                        </ul>
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6">
                                <div class="image text-center mb-40">
                                    <img src="assets/img/details/service-02.jpg" alt="Image">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="sub-title">How To Buildup Buisnes</h3>
                                <p>
                                    Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                                    because it is pain, but because occasionally circumstances occur in which toil and
                                    pain can procure him some great pleasure.
                                </p>
                                <ul class="check-list mt-30 mb-40">
                                    <li><i class="fas fa-check"></i>Business & Consulting Agency</li>
                                    <li><i class="fas fa-check"></i>Awards Winning Business Comapny</li>
                                    <li><i class="fas fa-check"></i>Complete Guide To Mechanical</li>
                                    <li><i class="fas fa-check"></i>Firebase Authentication & Database</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="faq-section mt-40">
                        <!-- FAQ LOOP -->
                        <div class="accordion faq-loop border-style" id="faqAccordion">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne">
                                        How To Create A Mobile App In Expo And Firebase

                                        <span class="icons">
                                            <i class="far fa-plus"></i>
                                        </span>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse" data-parent="#faqAccordion">
                                    <div class="card-body">
                                        Nor again is there anyone who loves or pursues or desires to obtain pain of
                                        itself, because it is pain, but because occasionally circumstances occur in
                                        which toil and pain can procure him some
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header active-header">
                                    <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTwo">
                                        Smashing Podcast Episode With Ben How ?

                                        <span class="icons">
                                            <i class="far fa-minus"></i>
                                        </span>
                                    </h6>
                                </div>

                                <div id="collapseTwo" class="collapse show" data-parent="#faqAccordion">
                                    <div class="card-body">
                                        Nor again is there anyone who loves or pursues or desires to obtain pain of
                                        itself, because it is pain, but because occasionally circumstances occur in
                                        which toil and pain can procure him some
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="collapsed" data-toggle="collapse" data-target="#collapseThree">
                                        Learning Resources Challenging Workshops ?

                                        <span class="icons">
                                            <i class="far fa-plus"></i>
                                        </span>
                                    </h6>
                                </div>

                                <div id="collapseThree" class="collapse" data-parent="#faqAccordion">
                                    <div class="card-body">
                                        Nor again is there anyone who loves or pursues or desires to obtain pain of
                                        itself, because it is pain, but because occasionally circumstances occur in
                                        which toil and pain can procure him some
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFour">
                                        Micro-Typography: How To Space Kern ?

                                        <span class="icons">
                                            <i class="far fa-plus"></i>
                                        </span>
                                    </h6>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#faqAccordion">
                                    <div class="card-body">
                                        Nor again is there anyone who loves or pursues or desires to obtain pain of
                                        itself, because it is pain, but because occasionally circumstances occur in
                                        which toil and pain can procure him some
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Faq LOOP -->
                    </div>
                </div>
                <!-- Sidebar -->
                <div class="col-lg-4 col-md-8">
                    <app-service-sidebar></app-service-sidebar>
                </div>
            </div>
        </div>
    </section>
    <!--====== Service Details End ======-->

    <!--====== CTA Start ======-->
    <section class="cta-aection">
        <div class="container">
            <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <div class="section-title both-border mb-30">
                                <span class="title-tag">Get A Quote</span>
                                <h2 class="title">Feel Any Project For Business Consulting Get Started Us</h2>
                            </div>
                            <a routerLink='/contact-us' class="main-btn main-btn-3">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CTA Start ======-->

    <!--====== Client Area Start ======-->
    <section class="client-section">
        <div class="container">
            <div class="client-slider section-gap line-top">
                <div class="row align-items-center justify-content-between" id="clientSlider">
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/service-detail' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>