<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <div class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 >Project Implementation </h1>
            <!--<ul>
                    <li><a routerLink='/'>Home</a></li>
                    <li>Process</li>
                </ul>-->
                <p>Prism Solutions implementation plan is a detailed, concrete plan, written in the checklist format. 
                    This list is compiled by our developers before starting work on each user story. It is a step-by-step instruction 
                    for performing each of the tasks prescribed by the engineer for himself or for other developers.  
                <p>First of all, we determine what user story we implement in the next sprint. Next, the engineer’s task is to create a step-by-step 
                    Implementation Plan for the implementation of each of them. It usually includes:   
                </p>
                <ul>
                    <li>Full path to the file that we require to change  </li>
                    <li>Changes need to be done </li>
                </ul>


            </div>
        </div>
    <!--    <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>-->
    </div>
    <!--====== Breadcrumb part End ======-->
    <section class="faq-section section-gap1 mt-50">
        <div class="container">
            <!-- FAQ Page Title -->
            <div class="row faq-page-title align-items-center">
                <div class="col-lg-12">
                    <div class="section-title left-border">
                       
                        <h2 class="title">Proposed Implementation Methodology  </h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <p>
                        We recognize the importance of an organized, efficient, and comprehensive implementation, data migration, and training process.
                         Prism Solutions has developed an implementation methodology approach that implements Salesforce in a timely manner, customizes 
                         it to best meet the client’s goals and objectives, 
                        incorporates key client staff members into the process, and fully trains your staff so that they can utilize the system to its fullest.    
                    </p>
                    </div>
            </div>
        </div>
    </section>
    <section class="working-process-section sgrey-bg">
        <div class="container">
            

       <div class="row justify-content-center">
                
                
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">Register Changes </span>

                        </div>
                        <p>
                            Ideally, we need to register all the changes in the implementation of the functional. 
                            These changes should be clear to any developer who will work on a user story so that even new participants can join in without additional instructions.    
                         </p>
                         
                         <ul>
                            <li>We deepen into the details of each user story before starting the software development process. 
                                This allows us to see the whole picture, find out all the requirements, questions, think about possible solutions. </li>
                            <li>We determine the complexity of each user stories. In the future, it helps to more accurately estimate the required time and resources.   </li>
                            <li>
                                We plan implementation details in advance. This allows us to minimize the number of additional questions to the client or product manager during the iteration itself.  
                            </li>
                           
                         </ul>
                         
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/04.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section Start ======-->
    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">Deploy  </span>
                            
                        </div>
                        <p>Once configuration and customization has cleared the Validate stage we will begin the deployment stage, where we will move the approved 
                            configurations and installations from the sandbox to your production environment.   </p>  <br>
                        <p>
                            Prism Solutions specialists have deployed millions of dollars’ worth of software and equipment over the years, and understand the importance of proper testing and installation. Very few organizations are staffed with the experts needed to judiciously deploy every type of technology. Prism Solutions   deployment specialists serve as powerful and knowledgeable extensions to your team.  We offer comprehensive system maintenance services, which include: post-implementation support, 
                            technical supervision with guaranteed repair times (SLA), as well as custom solutions for hosting and server administration, server virtualization and cloud computing.  </p>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/05.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Advanced Tabs Section End ======-->
    <!--===== ========-->
    

    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                              
                            
                            <span class="title-tag">Post-deployment Support </span>
                        </div>
                        <p>
                            The purpose of post-deployment support is to provide continuous 
                            technical support after system deployment. Such service includes ongoing work based on current needs (e.g. minor improvements, adaptations to changing 
                            conditions, etc.). A fixed pool of hours in a month is reserved for these actions.  
                                <br>
                            The most important aspects of the service:  
                        </p>
                        <ul>
                            <li>Short response time (including applications under warranty)  </li>
                            <li>Response up to 48 hours (usually on the day of the request)  </li>
                            <li>Simplifying the order acceptance procedure  </li>
                            <li>System for the registration and reporting of requests  </li>
                            <li>Dedicated account representative, who is directly responsible for the processing of current orders  </li>
                            <li>Ongoing support for the operation and use of the system, consultations  </li>
                            <li>Capability of cyclic execution of automated testing  </li>
                            <li>Rapid implementation of small tasks not directly related to system operations  </li>
                            <li>Lower hourly rates beyond block hours</li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/6.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">User Training and Post Go-Live Support  </span>
                            
                        </div>
                        <p>Prism Solutions will provide post Go-Live support, which can be used in assisting your staff with getting up to speed and making tweaks to support unanticipated issues. 
                            Go-Live support is available for the 30 days following your go-live date and is billed as part of the last scheduled payment identified below.     </p>  <br>
                        <p>
                            Our training approach includes training for future “power users”/administrators, end users, and management level staff. We recognize that different groups of users will use the 
                            system to perform different functions. 
                            We use our standard training curriculum and adapt it to your particular process. We ideally prefer training you on how you will use the system rather than how the system works.    </p>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/07.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="working-process-section sgrey-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                              
                            
                            <span class="title-tag">Optional On-Going Support  </span>
                        </div>
                        <p>
                            Prism Solutions recommends clients plan to purchase an ongoing support package immediately following the initial implementation engagement. Our support services are recommended, 
                            but optional, to ensure user adoption, system maintenance, and ongoing training. Please contact your Project Manager or Account Executive to discuss our ongoing support packages.  
                        </p>
                        <p>
                            We provide support with guaranteed service level SLA (Service Level Agreement). This service is aimed at ensuring the continued performance of key business processes. These processes are carried out mostly by the IT infrastructure, which consists of applications and devices. SLA defines the required response times (the maximum time after which specialists begin working on the incident), 
                            incident resolution times (e.g. restoring the availability of the application) and the amount of contractual penalties for failure to comply with these parameters.   
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/08.jpg);">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
   

    
    <app-footer1></app-footer1>
<!--====== Breadcrumb part Start ======
    <div class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">Blog Grid</h1>
                <ul>
                    <li><a routerLink='/'>Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>
    <!--====== Breadcrumb part End ======-->

    <!--====== Blog Section Start ======
    <section class="blog-section section-gap-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- Blog loop(Grid) 
                    <div class="blog-loop grid-blog row justify-content-center">
                        <!-- Single Post 
                        <div class="col-lg-6 col-md-6 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/04.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>25 Aug 2020</span>
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            How Performance Visiblety With GitLab CI And Hood
                                        </a>
                                    </h3>
                                    <p>
                                        Sedut perspiciatis unde omnis nat erroroluptat accusantium laudantim totam
                                        raperiaeaqupsa quae
                                    </p>
                                    <a routerLink='/blog-detail' class="post-link">
                                        Learn More <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-lg-6 col-md-6 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/05.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>25 Aug 2020</span>
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Inspired Design Decisions With Max Huber Turne
                                        </a>
                                    </h3>
                                    <p>
                                        Sedut perspiciatis unde omnis nat erroroluptat accusantium laudantim totam
                                        raperiaeaqupsa quae
                                    </p>
                                    <a routerLink='/blog-detail' class="post-link">
                                        Learn More <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-lg-6 col-md-6 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/06.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>25 Aug 2020</span>
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Mirage JS Deep Dive Unders Tanding Mirage JS Models
                                        </a>
                                    </h3>
                                    <p>
                                        Sedut perspiciatis unde omnis nat erroroluptat accusantium laudantim totam
                                        raperiaeaqupsa quae
                                    </p>
                                    <a routerLink='/blog-detail' class="post-link">
                                        Learn More <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-lg-6 col-md-6 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/07.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>25 Aug 2020</span>
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Brighten Up Someone’s May With Max Huber Turne
                                        </a>
                                    </h3>
                                    <p>
                                        Sedut perspiciatis unde omnis nat erroroluptat accusantium laudantim totam
                                        raperiaeaqupsa quae
                                    </p>
                                    <a routerLink='/blog-detail' class="post-link">
                                        Learn More <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-lg-6 col-md-6 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/08.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>25 Aug 2020</span>
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Why Collaborative Coding Is The Ultimate Career Hack
                                        </a>
                                    </h3>
                                    <p>
                                        Sedut perspiciatis unde omnis nat erroroluptat accusantium laudantim totam
                                        raperiaeaqupsa quae
                                    </p>
                                    <a routerLink='/blog-detail' class="post-link">
                                        Learn More <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-lg-6 col-md-6 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/09.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>25 Aug 2020</span>
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Responsive Web & Desktop Development Flutter
                                        </a>
                                    </h3>
                                    <p>
                                        Sedut perspiciatis unde omnis nat erroroluptat accusantium laudantim totam
                                        raperiaeaqupsa quae
                                    </p>
                                    <a routerLink='/blog-detail' class="post-link">
                                        Learn More <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-lg-6 col-md-6 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/10.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>25 Aug 2020</span>
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            How To Create Particle Trail Animation In JavaScript
                                        </a>
                                    </h3>
                                    <p>
                                        Sedut perspiciatis unde omnis nat erroroluptat accusantium laudantim totam
                                        raperiaeaqupsa quae
                                    </p>
                                    <a routerLink='/blog-detail' class="post-link">
                                        Learn More <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post 
                        <div class="col-lg-6 col-md-6 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>25 Aug 2020</span>
                                    <h3 class="title">
                                        <a routerLink='/blog-detail'>
                                            Inspired Design Decisions With Herb Lubalin Can
                                        </a>
                                    </h3>
                                    <p>
                                        Sedut perspiciatis unde omnis nat erroroluptat accusantium laudantim totam
                                        raperiaeaqupsa quae
                                    </p>
                                    <a routerLink='/blog-detail' class="post-link">
                                        Learn More <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination 
                    <div class="pagination-wrap">
                        <ul>
                            <li><a routerLink='/blog-grid'><i class="far fa-angle-left"></i></a></li>
                            <li class="active"><a routerLink='/blog-grid'>01</a></li>
                            <li><a routerLink='/blog-grid'>02</a></li>
                            <li><a routerLink='/blog-grid'>03</a></li>
                            <li><a routerLink='/blog-grid'><i class="far fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <!-- sidebar -
                    <app-blog-sidebar></app-blog-sidebar>
                </div>
            </div>
        </div>
    </section>
    <!--====== Blog Section End ======-->

    <!--====== Client Area Start ======
    <section class="client-section">
        <div class="container">
            <div class="client-slider section-gap">
                <div class="row align-items-center justify-content-between" id="clientSlider">
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/blog-grid' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======
    <app-footer1></app-footer1>-->