<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 >Our Clients</h1>
                    <p>
                        Quality is always there. We are your Salesforce Partner with expertise in making <br>your business effective.
                    </p>
            </div>
        </div>
    <!--<div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>-->        
    </section>
    <!--====== Breadcrumb part End ======-->

    <!--====== Shop Section Start ======
    <section class="shop-page-wrap section-gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 order-1">
                    <div class="row shop-top-bar justify-content-between">
                        <div class="col-lg-3 col-6 col-tiny-12">
                            <div class="product-search">
                                <form action="#">
                                    <input type="search" placeholder="Search Keywords">
                                    <button type="button"><i class="far fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6 col-tiny-12">
                            <div class="product-shorting">
                                <select>
                                    <option value="0" selected>Short by</option>
                                    <option value="1">Deafult</option>
                                    <option value="2">By Name</option>
                                    <option value="3">By Price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-10 order-3 order-lg-2">
                    <app-shop-sidebar></app-shop-sidebar>
                </div>
                <div class="col-lg-9 order-2 order-lg-2">
                    <div class="product-loop row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/01.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/02.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/03.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/04.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/05.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/06.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/07.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/08.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img src="assets/img/shop/09.png" alt="image">
                                    <div class="product-action">
                                        <a routerLink='/shop'><i class="far fa-shopping-cart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-heart"></i></a>
                                        <a routerLink='/shop'><i class="far fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <ul class="rating">
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half"></i>
                                        </li>
                                    </ul>
                                    <h5 class="title"><a routerLink='/shop-detail'>Smart Man Jacket</a></h5>
                                    <span class="price">$25.59</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-wrap text-center">
                        <ul>
                            <li><a routerLink='/shop'><i class="far fa-angle-left"></i></a></li>
                            <li class="active"><a routerLink='/shop'>01</a></li>
                            <li><a routerLink='/shop'>02</a></li>
                            <li><a routerLink='/shop'>03</a></li>
                            <li><a routerLink='/shop'><i class="far fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
     Shop Section End ======-->
    <section class="header-b mb-50">
        <div class="hero">
            <div class="container">
                <div class="row1 mt-50">
                    <div class="hero__main">
                        <div class="hero__textbox">
                            <h2> <span class="title-tag">Prism Reviews </span></h2>
                            <p class="mb-50">Prism Solutions is a trusted CRM consulting and product development company. Our clients include well-known corporates, medium and small business. </p>
                            <!--<a routerLink='/about-us' class="main-btn">Get Started</a>-->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Testimonials part start ======-->
    <section class="testimonial-section-two-plus section-gap1">
        <div class="container">
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-12">
                    <div class="section-title both-border text-center mb-80">
                        <span class="title-tag">Client Testimonials</span>
                        <h2 class="title">Trusted By</h2>
                    </div>
                    <div class="testimonial-items" id="testimonialSliderTwo">
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author.png">
                            <div class="content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm ">
                                                <div class="testominalBox">
                                                    <img src="assets/img/clients/01.jpg" alt="">
                                                    <p>Industry: Real Estate<br>Sales Cloud</p>

                                                </div>
                                            </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/Attic.png" alt="">
                                                <p>Industry: Insulation<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/Blackbridge.png" alt="">
                                                <p>Industry: Recycling<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/CarlMarks.png" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/Orion_wine.png" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/HealthCareHighway.jpg" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                            </div>
                        </div>
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author-2.png">
                            <div class="content">
                                    <div class="container">
                                        <div class="row">
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/01.jpg" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/Attic.png" alt="">
                                                <p>Industry: Insulation<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm">
                                            
                                            <div class="testominalBox"> 
                                                <img src="assets/img/clients/Blackbridge.png" alt="">
                                                <p>Industry: Recycling<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-sm">

                                            <div class="testominalBox">
                                                <img src="assets/img/clients/CarlMarks.png" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox"> 
                                                <img src="assets/img/clients/Orion_wine.png" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm">
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/HealthCareHighway.jpg" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                            </div>
                        </div>
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author-3.png">
                            <div class="content">
                                    <div class="container">
                                        <div class="row">
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/01.jpg" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/Attic.png" alt="">
                                                <p>Industry: Insulation<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/Blackbridge.png" alt="">
                                                <p>Industry: Recycling<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/CarlMarks.png" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>
                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/Orion_wine.png" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                          <div class="col-sm ">
                                            
                                            <div class="testominalBox">
                                                <img src="assets/img/clients/HealthCareHighway.jpg" alt="">
                                                <p>Industry: Real Estate<br>Sales Cloud</p>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                            </div>
                        </div>
                    <!--<div class="testimonial-item" data-thumb="assets/img/testimonial/author-5.png">
                            <div class="author-img">
                                <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                            </div>
                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    We developed a great partnership with Prism Solutions and their dedication to our project 
                                    is evident in all aspects. We appriciate their attention to detail and creative approach to 
                                    bringing our new exhibit to life online.
                                    <span class="quote-bottom">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="author-name">
                                <h4>John Berardi</h4>
                                <span>President - TruPoint Communication Solutions</span>
                            </div>
                        </div>
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author-6.png">
                            <div class="author-img">
                                <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                            </div>
                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    I appreciate the fact that, even though they are an offshore company, in order to stimulate a 
                                    project in its early stages. They proactively suggest better alternatives to make our application 
                                    better than we anticipated. I am very satisfied with their work. 
                                    <span class="quote-bottom">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="author-name">
                                <h4>Greg Smith</h4>
                                <span>Owner - Wheelhouse Solutions</span>
                            </div>
                        </div>-->
                    </div>
                <!--<div class="testimonial-dots"></div>-->    
                </div>
            </div>
        </div>
        
    </section>
    <!--====== Testimonials part end ======-->
    <section class="about-section about-illustration-img">
        <div class="container">
            <div class="section-title both-border text-center mb-80">
                
                <h2 class="title">Customer Success</h2>
            </div>
            <div class="col-lg-12 ">
                <div class="row">
                    <div class="col-lg-7 case-study1" style="height:400px;">
                        <div class="col-sm imgae-div">
                            <div class=" ">
                                <img src="assets/img/clients/bogie.jpg" style="background: rgba(0, 0, 0, 0.3)"alt="">
                                <p>The system was migrated from manual excel sheets to Salesforce Cloud Communities. The new system is a combination of CRM & property search tools and is solely build for Bogie Investment groups, Inc. </p>
                                <p>Product: Salesforce Communities, Sales Cloud</p>
                                <a routerLink='/salesforce-communitites'>Read More</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="col-lg-12 case-study1" style="height:200px;">
                            <div class="col-sm imgae-div2 ">
                                <div class=" ">
                                    <img src="assets/img/clients/01.jpg" alt="">
                                    <p>The system was migrated from manual excel sheets to Salesforce Cloud Communities. <br>
                                    Product: Salesforce Communities, Sales Cloud</p>
                                    <a routerLink='//salesforce-communitites'>Read More</a>

                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-12 case-study1" style="height:200px;">
                            <div class="col-sm imgae-div2 ">
                                <div class=" ">
                                    <img src="assets/img/clients/01.jpg" alt="">
                                    <p>The system was migrated from manual excel sheets to Salesforce Cloud Communities. <br>
                                    Product: Salesforce Communities, Sales Cloud</p>
                                    <a routerLink='//salesforce-communitites'>Read More</a>

                                </div>
                            </div>
                            
                        </div> 
                    </div>   
                </div>
            </div>
        </div>
    </section>
    <!--====== Testimonials part end ======-->
    <section class="testimonial-section-two section-gap-bottom">
        <div class="container">
            <div class="client-slider section-gap line-top">
                <h1 class="title centers mb-50">Client's Love</h1>
                <div class="row align-items-center justify-content-between testimonial-items" id="clientSlider1">
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                Amazing! Considering there was a lot to take on board regarding our business and how we do things.
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>Sam Titus</h4>
                            <span>CEO - Freight Print</span>
                        </div>
                    </div>
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                 Prism Solutions was very transparent and communicative! They are a pleasure to work with! 
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>Greg Smith</h4>
                            <span>Owner - Wheelhouse Solutions</span>
                        </div>
                    </div>
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                 I’m happy with the way they’ve understood, scoped, implemented and trained our Sales people. 
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>John Berardi</h4>
                            <span>President - TruPoint Communication Solutions</span>
                        </div>
                    </div>
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                 They were professional, communicated well and got the implementations done. 
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>Haider Ali</h4>
                            <span>Business Development Manager - Tech-Strings</span>
                        </div>
                    </div>
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                Their ability to find the right template and integrate it quickly saved the company a lot of time. 
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>Milo Makarewicz</h4>
                            <span>CEO & Founder - Attic Elite</span>
                        </div>
                    </div>
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                Jeff, Dennis and John listened to our needs and came up with a perfect solution for us. 
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>Sam Titus</h4>
                            <span>CEO - Freight Print</span>
                        </div>
                    </div>
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                They were efficient professional, communicated well and got the implementations quickly.
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>Sam Titus</h4>
                            <span>CEO - Freight Print</span>
                        </div>
                    </div>
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                We are pleased with the results and are coming back for additional enhancements. 
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>Sam Titus</h4>
                            <span>CEO - Freight Print</span>
                        </div>
                    </div>
                    <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                        <div class="author-img">
                            <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                        </div>
                        <div class="content">
                            <p>
                                <span class="quote-top">
                                    <i class="fas fa-quote-left"></i>
                                </span>
                                I felt they really understood my problem. They truly understand the CRM we use. 
                                <span class="quote-bottom">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="author-name">
                            <h4>Sam Titus</h4>
                            <span>CEO - Freight Print</span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
     
    
    <!--====== Contact Section start ======-->
    <section class="contact-section contact-page mb-50">
        <div class="container">
            

            <div class="contact-form1 grey-bg mb-50">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10">
                        <div class="section-title text-center mb-40">
                            <h2 class="title">Don’t Hesited To Contact Us</h2>
                        </div>

                        <form action="#">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Your Full Name">
                                        <span class="icon"><i class="far fa-user-circle"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="email" placeholder="Your Email Address">
                                        <span class="icon"><i class="far fa-envelope-open"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Your Phone">
                                        <span class="icon"><i class="far fa-phone"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group textarea mb-30">
                                        <textarea placeholder="Write Message"></textarea>
                                        <span class="icon"><i class="far fa-pencil"></i></span>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="button" class="main-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

       
    </section>
        
    <!--====== Contact Section start ======-->

     <app-footer1></app-footer1>