.testominalBox {
    padding: 20px;
    margin:10px;
    color: #ff4a17;
    height:200px;
    
}

.testominalBox p {
    display:none;
    margin-top:10px;
}

.testominalBox:hover p {
    display:block;
}

.testominalBox:hover {
    background-color:#ff4a17;
    color: white;
    border-radius: 5%;
    transform: scale(0.7);
}
.contact-form1 {
    margin-bottom: 0px;
}
    


.breadcrumb-section h1{
    color: white;
    font-size: 60px;
}

.breadcrumb-section p{
    color: white;
    font-size:25px;
}


