.testominalBox {
    padding: 20px;
    margin:10px;
    height:200px;
}

.testominalBox {
    min-height: 200px;
}

.testominalBox p {
    display:none;
    
}

.imgae-div {
    padding: 163px 0px;
}

.imgae-div2 {
    padding: 64px 0px;
}

.testominalBox:hover p {
    display:block;
    color: #ff4a17;
    
}

.testominalBox:hover  {
    transform: translate(0, -5px);
    border: 1px solid #ff4a17;
    box-shadow: 0px 0px 5px #ff4a17;
    
}

.testominalBox:hover img {
    transform: scale(0.7);
    transition: 0.3;
}

.contact-form1 {
    margin-bottom: 0px;
}

.breadcrumb-section h1{
    color: white;
    font-size: 60px;
}

.breadcrumb-section p{
    color: white;
    font-size:25px;
}

.case-study1 p, .case-study1 a {
    display:none;
}

.case-study1:hover p, .case-study1:hover a, .case-study3:hover p, .case-study3:hover a {
    display: block;
    margin-top:5px;
}



.case-study1:hover, .case-study3:hover{
    
    border: 1px solid #ff4a17;
    box-shadow: 0px 0px 5px #ff4a17;
    padding-top:0px;
}

.case-study1 .imgae-div:hover {
    transform: translate(0, -80px);
    transition: 0.3s;
}

.case-study1 .imgae-div2:hover {
    transform: translate(0, -65px);
    transition: 0.3s;
}

.case-study1 .imgae-div2:hover img {
    transform: scale(0.5);
    transition: 0.3;
}

.case-study3 p, .case-study3 a {
    display:none;
}

.bg-color {
    background: rgba(119, 119, 119, 0.5);
    padding:10px;
}