.breadcrumb-section h1{
    color: white;
    font-size: 60px;
}

.breadcrumb-section p{
    color: white;
    font-size:25px;
}


.project-details li {
    list-style-position: inside;
    list-style-type: disc;
    font-size:20px;
    margin-left:31px;
}

.project-details p {
   
    font-size:20px;
    
}

