<p>portfolio5 works!</p>
<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1>Salesforce Marketing Cloud Services</h1>
                <br>
                
                    <p>Our Salesforce team implemented a Salesforce Sales Cloud services for our Client. 
                        In addition to the customisations.</p>
                
            </div>
        </div>
    <!--    <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div> -->
    </section>
    <!-- ===== Breadcrumb part End ======-->

    <!--====== Project Details Start ======-->
    <section class="project-details section-gap">
        <div class="container">
            <div class="project-content mt-60">
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-2">
                        <div class="content">
                            <h4 class="mb-10">Client</h4>
                            <p class="mb-20">Black Bridge</p>
                            <h4 class="mb-10">Website</h4>
                            <a href="http://www.blackbridgeinvestments.com/" target="_blank" class="mb-20">www.blackbridgeinvestments.com</a>
                            <h4 class="mb-10">Company size</h4>
                            <p class="mb-20">5-10 Employees</p>
                            <h4 class="mb-10">Challenge </h4>
                            <p class="mb-10">
                                Client is a Recycling Brokerage company. Client wanted to generate new efficiencies and cost savings opportunities that allow to open up exciting new possibilities for trading partners (Buyers/Sellers) 
                                and for entire industry. They requested Prism Solutions to develop Recycling Order Management System (Plastic Bags/Papers). The goal of the system was:
                            </p>
                            <ol>
                                <li>Keep costs low so client can offer their partners the best pricing</li>
                                <li>Deep commitment to transparency</li>
                                <li>Quality assurance to make sure that customers get what they pay for, every time</li>
                            </ol>
                            
                            <h4 class="mb-10">Project Overview</h4>
                            <p class="mb-20">
                                Salesforce Sales Cloud <br>

                                With the help of Salesforce Sales Cloud, Prism Solutions developed an Order Management System for trading partners which includes two types of customers: Buyers and Sellers of raw material. 
                            </p>
                            <h4 class="mb-10">Project Impact </h4>
                            <p class="mb-10">
                                As a result, customers are able to get:
                            </p>
                            <ol>
                                <li>Best market price</li>
                                <li>Reliable logistics</li>
                                <li>Organized back office</li>
                                <li>Dedicated sales team</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Project Details End ======-->

    <!--====== CTA Start ======-->
    <section class="cta-aection">
        <div class="container">
            <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <div class="section-title both-border mb-30">
                                <span class="title-tag">Talk To Our Consultant</span>
                                <h2 class="title">Feel Any Project For Salesforce Consulting?</h2>
                            </div>
                            <a routerLink='/contact-us' class="main-btn main-btn-3">Let's Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CTA Start ======-->

    <!--====== Client Area Start ======-->
    <section class="testimonial-section-two section-gap">
        <div class="container">
            <div class="client-slider section-gap-bottom">
                
                <div class="row align-items-center justify-content-between testimonial-items" id="clientSlider">
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Attic.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Blackbridge.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/CarlMarks.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Orion_wine.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/HealthCareHighway.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>