<p>portfolio5 works!</p>
<app-header2></app-header2>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1>Salesforce Appexchange Application</h1>
                <br>
                
                    <p>Our Salesforce team has implemented Salesforce AppExchange managed packages for our Client. 
                        In addition to the customisations.</p>
                
            </div>
        </div>
    <!--    <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div> -->
    </section>
    <!-- ===== Breadcrumb part End ======-->

    <!--====== Project Details Start ======-->
    <section class="project-details section-gap">
        <div class="container">
            <div class="project-content mt-60">
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-2">
                        <div class="content">
                            <h3 class="mb-10">Client</h3>
                            <p class="mb-20">Project Management Officer</p>
                            <h3 class="mb-10">Website</h3>
                            <a href="https://saleshub.info/project-management-office-2/" target="_blank" class="mb-20">www.saleshub.info</a>
                            <h3 class="mb-10">Company size</h3>
                            <p class="mb-20">10-50 Employees</p>
                            <h3 class="mb-10">Challenge </h3>
                            <p class="mb-10">
                                The Client requested that our team at Prism Solutions develop a Project Management tool for 
                                AppExchange listing. Their users needed to be able to manage project's cost, scope, timeline, file sharing, procurement, human resources and integrations. 
                                Prism Solutions team develped a full-fledged Project Management App with the following features: 
                            </p>
                            <ol>
                                <li>Project Origination</li>
                                <li>Conception Design</li>
                                <li>Requirements & Detail Planning</li>
                                <li>Detailed Solution Design</li>
                                <li>Solution Development & Testing</li>
                                <li>Go Live & Support</li>
                                <li>Project Close</li>
                            </ol>
                            
                            <h3 class="mb-10">Project Overview</h3>
                            <p class="mb-20">
                                Salesforce Sales Cloud <br>

                                Our Salesforce Dedicated Team developed a Project Management tool in Saleforce where client can manage project's cost, scope, timeline, file sharing, procurement, 
                                human resources and integrations. Client also want improve quality of thier business processes
                            </p>
                            <h3 class="mb-10">Project Impact </h3>
                            <p class="mb-10">
                                As a result, the AppExchange cutomers are able to better manage thier IT projects w.r.t time, cost, quality, resources and integrations. Now, the Client’s users 
                                have made their development team much more time and cost effective.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Project Details End ======-->

    <!--====== CTA Start ======-->
    <section class="cta-aection">
        <div class="container">
            <div class="cta-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <div class="section-title both-border mb-30">
                                <span class="title-tag">Talk To Our Consultant</span>
                                <h2 class="title">Feel Any Project For Salesforce Consulting?</h2>
                            </div>
                            <a routerLink='/contact-us' class="main-btn main-btn-3">Let's Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CTA Start ======-->

    <!--====== Client Area Start ======-->
    <section class="testimonial-section-two section-gap">
        <div class="container">
            <div class="client-slider section-gap-bottom">
                
                <div class="row align-items-center justify-content-between testimonial-items" id="clientSlider">
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/01.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Attic.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Blackbridge.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/CarlMarks.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/Orion_wine.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/HealthCareHighway.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/02.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/03.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/04.png" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a routerLink='/homepage2' class="client-img d-block text-center">
                            <img src="assets/img/clients/05.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>